<section [id]="_sharedComponentService.pageId()">
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div id="update-form" [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="addRequisitionWaForm" (ngSubmit)="onUpdate()">
            <div [class]="_sharedComponentService.subMainPageFormClass">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridFormClass">
                    <div class="col">
                        <!-- Date -->
                        <mat-form-field appearance="outline" class="example-form-field w-100">
                            <mat-label>التاريخ</mat-label>
                            <input [disabled]="true" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle [disabled]="false" matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="false" #datepicker>
                              
                            </mat-datepicker>
                            <mat-error *ngIf="!addRequisitionWaForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['date'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                          </mat-form-field>
                    </div>

                    <!-- Supplier -->
                    <!-- <div class="col">
                        <ejs-autocomplete [dataSource]='suppliers' [fields]='fieldsSupplier' class="ejs-autocomplete w-100"
                        (filtering)="onFilteringSupplier($event)"
                            [placeholder]='textSupplier' [autofill]='autofill'
                            formControlName="supplierId"
                            (change)="selectSupplier($event)"
                            >
                        </ejs-autocomplete>
                        <small class="text-danger"
                        *ngIf="addRequisitionWaForm.controls['supplierId'].hasError('pattern')"
                        [innerHTML]="_sharedComponentService.invalid_message">
                        </small>
                        <small class="text-danger"
                            *ngIf="addRequisitionWaForm.controls['supplierId'].hasError('required') && (addRequisitionWaForm.controls['supplierId'].dirty 
                            || addRequisitionWaForm.controls['supplierId'].touched)"
                            [innerHTML]="_sharedComponentService.required_field">
                        </small>
                    </div> -->

                     <!-- note -->
                     <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> الملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="الملاحظات" formControlName="note"></textarea>
                                <mat-error *ngIf="addRequisitionWaForm.controls['note'].hasError('pattern')">
                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                    </label>
                                </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Price -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>السعر*</mat-label>
                            <input type="text" matInput formControlName="price" placeholder="مثال: 15"
                                [errorStateMatcher]="matcher" (change)="changePrice('priceEG')"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="addRequisitionWaForm.controls['price'].hasError('required') && (addRequisitionWaForm.controls['price'].dirty 
                                    || addRequisitionWaForm.controls['price'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['price'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['price'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- priceDollar -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>السعر دولار</mat-label>
                            <input type="text" matInput formControlName="priceDollar" placeholder="مثال: 15"
                                [errorStateMatcher]="matcher" (change)="changePrice('priceDollar')"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="addRequisitionWaForm.controls['priceDollar'].hasError('required') && (addRequisitionWaForm.controls['priceDollar'].dirty 
                                    || addRequisitionWaForm.controls['priceDollar'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['priceDollar'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['priceDollar'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <!-- Quantity -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>الكمية*</mat-label>
                            <input type="text" matInput formControlName="quantity" placeholder="مثال: 12000"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error class="text-danger"
                                *ngIf="addRequisitionWaForm.controls['quantity'].hasError('incorrect')">
                                الكمية المدخلة غير متوفرة
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['quantity'].hasError('required') && (addRequisitionWaForm.controls['quantity'].dirty 
                                    || addRequisitionWaForm.controls['quantity'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['quantity'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['quantity'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Document -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>الوثيقة</mat-label>
                            <input type="text" matInput formControlName="document" placeholder="مثال: 10214"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="addRequisitionWaForm.controls['document'].hasError('required') && (addRequisitionWaForm.controls['document'].dirty 
                                    || addRequisitionWaForm.controls['document'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['document'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['document'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Statement -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> الملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="الملاحظات" formControlName="statement"></textarea>
                            <mat-error *ngIf="addRequisitionWaForm.controls['statement'].hasError('invalid') && (addRequisitionWaForm.controls['statement'].dirty 
                                    || addRequisitionWaForm.controls['statement'].touched)">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addRequisitionWaForm.controls['statement'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto">
                    <div class="col">
                        <button type="submit" class="btn-style submit-btn">تعديل</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>