<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass" id="main-page-title">
            <h2 [class]="_sharedComponentService.TitleTextClass">طلبية شراء خيوط</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">

        <div [class]="_sharedComponentService.subMainPageFormClass">
            <div class="row row-cols-3">
                <div id="table-header-data" class="col">
                    <table class="table table-style">
                        <tbody>
                            <tr>
                                <th>
                                    رقم الإذن:
                                </th>
                                <td>
                                    {{manufacturingOrderDetails[0]?.number}}
                                </td>
                            </tr>
                            <tr>
                                <th>التاريخ:</th>
                                <td>{{manufacturingOrderDetails[0]?.date | date:'EEEE, d/M/y'}}</td>
                            </tr>
   
                            <tr>
                                <th>اسم الطلبية:</th>
                                <td>{{manufacturingOrderDetails[0]?.order_name}}</td>
                            </tr>
                            <tr>
                                <th>الملاحظات:</th>
                                <td>{{manufacturingOrderDetails[0]?.note}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <div class="btn-export-section">
                        <a (click)="_exportDataService.exportToPDF('table-header-data', 'table-data', 'طلبية شراء خيوط')">
                            <i title="PDF" class="far fa-file-pdf"></i>
                        </a>

                        <a
                            (click)="_exportDataService.exportToExcel('table-header-data', 'table-data', 'طلبية شراء خيوط')">
                            <i title="Excel" class="far fa-file-excel px-2"></i>
                        </a>

                        <a (click)="_exportDataService.print('table-header-data', 'table-data', 'طلبية شراء خيوط')">
                            <i title="Print" class="fas fa-print pe-2"></i>
                        </a>
                    </div>
                </div>
            </div>


            <!-- Form Body -->
            <div [class]="_sharedComponentService.gridForm2Class">
                <div class="col">
                    <div [class]="_sharedComponentService.tableSectionClass">

                        <mat-form-field class="w-100" appearance="outline">
                            <input matInput [(ngModel)]="filter" (keyup)="applyFilter($any($event.target).value)"
                                placeholder="بحث" />
                        </mat-form-field>
                        <div id="table-data">
                            <div class="example-table-container">
                                <table mat-table matSort #sortColumns="matSort" [dataSource]="dataSourceSearchTabel"
                                    [class]="_sharedComponentService.tableStyleClass">

                                    <!-- Index Column -->
                                    <ng-container matColumnDef="index">
                                        <th mat-header-cell *matHeaderCellDef><b> تسلسل </b></th>
                                        <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
                                        <td mat-footer-cell *matFooterCellDef> <b> الإجمالي </b> </td>
                                    </ng-container>

                                    <!-- yarn_name Column -->
                                    <ng-container matColumnDef="yarn_name">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            <b>نوع الخيط</b>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.yarn_name }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>

                                    <!-- yarn_code Column -->
                                    <ng-container matColumnDef="yarn_code">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            <b>كود الخيط</b>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.yarn_code }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>

                                    <!-- quantity Column -->
                                    <ng-container matColumnDef="quantity">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            <b>الكمية المطلوبة</b>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.quantity | number}}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>
                                            {{_sharedComponentService.getTotalQuantity(dataSourceSearchTabel?.filteredData, 'quantity') | number}}
                                             </td>
                                    </ng-container>

                                    <!-- completed_quantity Column -->
                                    <ng-container matColumnDef="completed_quantity">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            <b>الكمية الجاهزة</b>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <table class="table" *ngIf="element.warehouseDetails.length > 0">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            المخزن
                                                        </th>
                                                        <th>
                                                            الكمية
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let warehouseData of element.warehouseDetails"
                                                    [ngClass]="{'warning_quantity': warehouseData.is_grade == '1'}">
                                                        <td>
                                                            {{ warehouseData.warehouse_name}}
                                                        </td>
                                                        <td>
                                                            {{ warehouseData.quantity | number}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>

                                        <td mat-footer-cell *matFooterCellDef>
                                            {{ _sharedComponentService.getTotalQuantity(this.dataSourceSearchTabel?.filteredData ==
                                                null ? this.dyeingOrderDetails: this.dataSourceSearchTabel?.filteredData, 'quantity') - 
                                                _sharedComponentService.getTotalQuantity(this.dataSourceSearchTabel?.filteredData ==
                                                null ? this.dyeingOrderDetails: this.dataSourceSearchTabel?.filteredData, 'current_quantity') | number}}
                                        </td>
                                    </ng-container>

                                    
                                    <!-- current_quantity Column -->
                                    <ng-container matColumnDef="current_quantity">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            <b>الكمية المتبقية</b>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.current_quantity | number}}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>
                                            {{_sharedComponentService.getTotalQuantity(dataSourceSearchTabel?.filteredData, 'current_quantity') | number}}
                                             </td>
                                    </ng-container>

                                    <!-- note2 Column -->
                                    <ng-container matColumnDef="note2">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            <b>الملاحظات</b>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.note2 }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>

                                    <!-- close_order Column -->
                                    <ng-container matColumnDef="close_order">
                                        <th data-html2canvas-ignore="true" mat-header-cell *matHeaderCellDef>
                                            <b>اغلاق الطلبية</b>
                                        </th>
                                        <td data-html2canvas-ignore="true" mat-cell *matCellDef="let row">
                                            <a (click)="closeOrder(row)">
                                                <i class="fas fa-edit update-symbol"></i>
                                            </a>
                                        </td>
                                        <td data-html2canvas-ignore="true" mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>

                                    <!-- Update Column -->
                                    <ng-container matColumnDef="update">
                                        <th data-html2canvas-ignore="true" mat-header-cell *matHeaderCellDef>
                                            <b>تعديل</b>
                                        </th>
                                        <td data-html2canvas-ignore="true" mat-cell *matCellDef="let row">
                                            <a onClick="document.getElementById('update-form').scrollIntoView();"
                                                (click)="getSelectedData(row)">
                                                <i class="fas fa-edit update-symbol"></i>
                                            </a>
                                        </td>
                                        <td data-html2canvas-ignore="true" mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                    <tr mat-footer-row *matFooterRowDef="displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>

                        <!-- <mat-paginator #paginator [pageSize]="1000" [pageSizeOptions]="[5, 10, 20, 50, 100, 500, 1000]"
                            showFirstLastButtons (page)="_sharedComponentService.getServerData($event)">
                        </mat-paginator> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- Buttons Section -->
        <div *ngIf="!showAddDetails" [class]="_sharedComponentService.btnSectionClass">
            <div class="row row-cols-auto">
                <div class="col">
                    <button (click)="showAddDetailsFunc()" type="button" class="btn-style submit-btn">اضافة
                        بيانات</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *ngIf="showInputUpdate" -->
<app-update-purchase-order-wa *ngIf="showInputUpdate" [selectedData]="selectedDataToUpdate" #updateOrder></app-update-purchase-order-wa>
<app-add-add-purchase-form-details-order-wa *ngIf="showAddDetails"></app-add-add-purchase-form-details-order-wa>