<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">اذن نقل بين مخازن قماش الجاهز</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <div [class]="_sharedComponentService.gridForm2Class">
            <app-current-stock-report-we #currentStockReport (parentFun)="getSelectedIndex($event)"></app-current-stock-report-we>
        </div>

        <form [formGroup]="transitionBetweenWhRequisitionForm" (ngSubmit)="onSellRequisition()">
            <div [class]="_sharedComponentService.subMainPageForm2Class">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridForm3Class">

                    <div class="col">
                        <!-- Date -->
                        <mat-form-field appearance="outline" class="example-form-field w-100">
                            <mat-label>التاريخ</mat-label>
                            <input [disabled]="true" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle [disabled]="false" matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="false" #datepicker>

                            </mat-datepicker>
                            <mat-error *ngIf="!transitionBetweenWhRequisitionForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="transitionBetweenWhRequisitionForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="transitionBetweenWhRequisitionForm.controls['date'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- To Warehouse -->
                    <div class="col">
                        <ejs-autocomplete [dataSource]='toWarehouses' [fields]='fieldsToWarehouse' class="ejs-autocomplete w-100"
                            (filtering)="onFilteringToWarehouse($event)" [placeholder]='textToWarehouse' [autofill]='autofill'
                            formControlName="toWarehouseId"
                            (change)="selectToWarehouse($event)"
                            style="width: 260px;">
                        </ejs-autocomplete>
                            <small class="text-danger"
                            *ngIf="transitionBetweenWhRequisitionForm.controls['toWarehouseId'].hasError('pattern')"
                            [innerHTML]="_sharedComponentService.invalid_message">
                            </small>
                            <small class="text-danger"
                                *ngIf="transitionBetweenWhRequisitionForm.controls['toWarehouseId'].hasError('required') && (transitionBetweenWhRequisitionForm.controls['toWarehouseId'].dirty 
                                || transitionBetweenWhRequisitionForm.controls['toWarehouseId'].touched)"
                                [innerHTML]="_sharedComponentService.required_field">
                            </small>
                    </div>

                    <!-- Note -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> ملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="ملاحظات" formControlName="note"></textarea>
                                <mat-error *ngIf="transitionBetweenWhRequisitionForm.controls['note'].hasError('pattern')">
                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                    </label>
                                </mat-error>
                        </mat-form-field>
                    </div>

                </div>



                <!-- Form Builder Section -->
                <div class="row row-cols-1">
                    <div class="col">
                        <!-- <button class="btn-add-item btn-add-pos" (click)="addItem()" *ngIf="transitionBetweenWhRequisitionForm">
                            <span>+</span>
                        </button> -->
                        <div class="example-table-container">
                        <table class="table table-style table-sm table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="width: 10px;">
                                        التسلسل
                                    </th>

                                    <th style="width: 200px;">
                                        المخزن
                                    </th>

                                    <th style="width: 200px;">
                                        المصبغة / الاذن
                                    </th>

                                    <th style="width: 150px;">
                                        اسم القماش
                                    </th>

                                    <th style="max-width: 80px;">
                                        كود المادة
                                    </th>

                                    <th style="max-width: 100px;">
                                        اللون
                                    </th>

                                    <th style="max-width: 80px;">
                                        كود اللون
                                    </th>

                                    <th style="max-width: 80px;">
                                        رقم الرسالة
                                    </th>

                                    <th style="max-width: 60px">
                                        السعر
                                    </th>

                                    <th style="max-width: 60px">
                                        السعر دولار
                                    </th>

                                    <th style="max-width: 100px;">
                                        الكمية المتوفرة
                                    </th>

                                    <th style="max-width: 120px;">
                                        الكمية
                                    </th>

                                    <th style="max-width: 100px;">
                                        الاجمالي
                                    </th>

                                    <th style="max-width: 100px;">
                                        الاجمالي دولار
                                    </th>

                                    <th style="max-width: 60px;">
                                        عدد الأثواب
                                    </th>

                                    <th style="max-width: 50px;">
                                        أمر الشغل
                                    </th>

                                    <th style="max-width: 50px;">
                                        نوع الدرجة
                                    </th>

                                    <th style="min-width: 100px;">
                                        الى رقم الرسالة
                                    </th>

                                    <th style="max-width: 100px;">
                                        الوثيقة
                                    </th>

                                    <th>
                                        البيان
                                    </th>

                                </tr>
                            </thead>
                            <tbody formArrayName="items">
                                <tr *ngFor="let row of getItem(transitionBetweenWhRequisitionForm);let index = index;">
                                    <ng-container [formGroupName]="index">
                                        <td>
                                            <label style="width: 5px;">{{index+1}}</label>
                                        </td>
        
                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    المخزن
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="المخزن"
                                                    formControlName="warehouseName" readonly>
                                            </mat-form-field>
                                        </td>
        
                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    المصبغة / المورد
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="المصبغة / المورد"
                                                    formControlName="supplierName" readonly>
                                            </mat-form-field>
                                        </td>
        
                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    اسم القماش
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="اسم القماش"
                                                    formControlName="dyedFabricName" readonly>
                                            </mat-form-field>
                                        </td>
        
                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    كود المادة
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="كود المادة" readonly
                                                    formControlName="dyedFabricCode">
                                            </mat-form-field>
                                        </td>
        
                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    اللون
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="اللون"
                                                    formControlName="colorName" readonly>
                                            </mat-form-field>
                                        </td>
        
                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    كود اللون
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="كود اللون" readonly
                                                    formControlName="colorCode">
                                            </mat-form-field>
                                        </td>

                                        <!-- From Consigment Dyeing -->
                                    <td class="table-td" style="max-width: 80px;">
                                        <mat-form-field class="w-100">
                                            <mat-label>
                                                رقم الرسالة
                                            </mat-label>
                                            <input [disabled]="true" matInput placeholder="رقم الرسالة" readonly
                                                formControlName="fromConsigmentDyeingNumber">
                                        </mat-form-field>
                                    </td>
        
                                        <!-- Price -->
                                        <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر*</mat-label>
                                                <input type="text" matInput formControlName="price" placeholder="مثال: 15"
                                                    [errorStateMatcher]="matcher" (change)="changePrice('priceEG', row)"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('price').hasError('required') && (row.get('price').dirty 
                                                || row.get('price').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('price').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
        
                                        <!-- priceDollar -->
                                        <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر دولار*</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="priceDollar" placeholder="مثال: 15"
                                                    [errorStateMatcher]="matcher"  (change)="changePrice('priceDollar', row)"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                                    <mat-error *ngIf="row.get('priceDollar').hasError('required') && (row.get('priceDollar').dirty 
                                                    || row.get('priceDollar').touched)">
                                                        <label [innerHTML]="_sharedComponentService.required_field">
                                                        </label>
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('priceDollar').hasError('pattern')">
                                                        <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                        </label>
                                                    </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    الكمية المتوفرة
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="الكمية المتوفرة"
                                                    formControlName="validQuantity" readonly>
                                            </mat-form-field>
                                        </td>
        
                                        <!-- Quantity -->
                                        <td class="table-td" style="max-width: 120px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>الكمية</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="quantity"
                                                    placeholder="مثال: 12000" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1'); "
                                                    (change)="validate(row)" required />
                                                <mat-error class="text-danger"
                                                    *ngIf="row.get('quantity').hasError('incorrect')">
                                                    الكمية المدخلة غير متوفرة
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('required') && (row.get('quantity').dirty 
                                                || row.get('quantity').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
        
                                        <!-- total -->
                                        <td class="align-middle text-center">
                                            <span>
                                                {{_sharedComponentService.getPriceXQuantity(row.controls['price'].value,
                                                row.controls['quantity'].value) | number}}
                                            </span>
                                        </td>
        
                                          <!-- total priceDollar -->
                                          <td class="align-middle text-center">
                                            <span>
                                                {{_sharedComponentService.getPriceXQuantity(row.controls['priceDollar'].value, row.controls['quantity'].value) | number}}
                                            </span>
                                        </td>

                                        <!-- numberFabricPieces -->
                                        <td style="max-width: 60px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>عدد الاثواب</mat-label>
                                                <input autocomplete="off" type="text" matInput
                                                    formControlName="numberFabricPieces" placeholder="مثال: 10"
                                                    [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('numberFabricPieces').hasError('required') && (row.get('numberFabricPieces').dirty 
                                                || row.get('numberFabricPieces').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('numberFabricPieces').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
        
                                        <!-- work_order_number -->
                                        <td style="max-width: 120px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>أمر الشغل</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="workOrderNumber"
                                                    placeholder="مثال: 10214" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('workOrderNumber').hasError('required') && (row.get('workOrderNumber').dirty 
                                                || row.get('workOrderNumber').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('workOrderNumber').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('workOrderNumber').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        
                                        <!-- gradeItem -->
                                        <td class="table-td" style="min-width: 100px;">
                                            <ejs-autocomplete [dataSource]='gradeItems' [fields]='fieldsGradeItem' 
                                            (filtering)="onFilteringGradeItem($event)"
                                                [placeholder]='textGradeItem' [autofill]='autofill'
                                                formControlName="gradeItemId" (change)='selectGradeItem($event, row)'
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('gradeItemId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('gradeItemId').hasError('required') && (row.get('gradeItemId').dirty 
                                                || row.get('gradeItemId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- new consigment Yarn Number -->
                                        <td style="min-width: 100px;">
                                            <ejs-autocomplete class="w-100"
                                            [dataSource]='toConsigmentsDyeing' [fields]='fieldsToConsigmentDyeing' 
                                        (filtering)="onFilteringToConsigmentDyeing($event, index)"
                                        (change)='selectToConsigmentDyeing($event, row, index)'
                                        [placeholder]='textToConsigmentDyeing' [autofill]='autofill'
                                            formControlName="newConsigmentDyeingNumber"
                                            [errorStateMatcher]="matcher" 
                                            >
                                        </ejs-autocomplete>
                                        <small class="text-danger"
                                        *ngIf="row.get('newConsigmentDyeingNumber').hasError('pattern')"
                                        [innerHTML]="_sharedComponentService.invalid_message">
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="row.get('newConsigmentDyeingNumber').hasError('required') && (row.get('newConsigmentDyeingNumber').dirty 
                                            || row.get('newConsigmentDyeingNumber').touched)"
                                            [innerHTML]="_sharedComponentService.required_field">
                                        </small>
                                        </td>
                                        
                                        <!-- Document -->
                                        <td style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>الوثيقة</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="document"
                                                    placeholder="مثال: 10214" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('document').hasError('required') && (row.get('document').dirty 
                                            || row.get('document').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('document').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('document').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        
        
                                        <!-- Statement -->
                                        <td>
                                            <mat-form-field class="w-100">
                                                <mat-label> البيان </mat-label>
                                                <textarea matInput rows="1" matTextareaAutosize 
                                                     placeholder="البيان"
                                                    formControlName="statement"></textarea>
                                                <mat-error *ngIf="row.get('statement').hasError('invalid') && (row.get('statement').dirty 
                                            || row.get('statement').touched)">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('statement').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>        

                                        <!-- <td>
                                            <button *ngIf="index !== 0" class="btn-del-item"
                                                (click)="removeItem(index)">
                                                -
                                            </button>
                                        </td> -->
                                    </ng-container>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td>الاجمالي</td>

                                    <td colspan="9"></td>
                                    <td>{{_sharedComponentService.getTotalQuantityForm(transitionBetweenWhRequisitionForm, 'items',
                                        'quantity') | number}}</td>
                                    <td class="text-center">
                                        {{_sharedComponentService.getTotalPriceXQuantityForm(transitionBetweenWhRequisitionForm, 'items',
                                        'quantity', 'priceDollar') | number}}</td>
                                    <td colspan="8"></td>
                                </tr>
                              </tfoot>

                        </table>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto g-0">
                    <div class="col">
                        <button type="submit" [disabled]="transitionBetweenWhRequisitionForm.controls.items.value.length < 1 || !isShowAdd" class="btn-style submit-btn">إضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>
