<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass" id="main-page-title">إضافة طلبية العميل قماش جاهز</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="addOrderForm" (ngSubmit)="onAddRequisition()">
            <div [class]="_sharedComponentService.subMainPageForm2Class">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridForm3Class">
                    <div class="col">
                        <!-- Date -->
                        <mat-form-field appearance="outline" class="example-form-field w-100">
                            <mat-label>التاريخ</mat-label>
                            <input [disabled]="true" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle [disabled]="false" matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="false" #datepicker>

                            </mat-datepicker>
                            <mat-error *ngIf="!addOrderForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addOrderForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addOrderForm.controls['date'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Dyers -->
                    <div class="col">
                        <ejs-autocomplete [dataSource]='dyers' [fields]='fieldsDyeing'
                            (filtering)="onFilteringDyeing($event)" [placeholder]='textDyeing' [autofill]='autofill'
                            formControlName="sellerId" class="ejs-autocomplete w-100" (change)="selectDyeing($event)">
                        </ejs-autocomplete>
                        <small class="text-danger" *ngIf="addOrderForm.controls['sellerId'].hasError('pattern')"
                            [innerHTML]="_sharedComponentService.invalid_message">
                        </small>
                        <small class="text-danger" *ngIf="addOrderForm.controls['sellerId'].hasError('required') && (addOrderForm.controls['sellerId'].dirty 
                            || addOrderForm.controls['sellerId'].touched)"
                            [innerHTML]="_sharedComponentService.required_field">
                        </small>
                    </div>

                    <!-- Name -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>اسم الطلبية</mat-label>
                            <input autocomplete="off" type="text" matInput formControlName="name" placeholder="مثال: طلبية-1"
                                [errorStateMatcher]="matcher" />
                            <mat-error *ngIf="!addOrderForm.controls['name'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addOrderForm.controls['name'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addOrderForm.controls['name'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Note -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> ملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="ملاحظات" formControlName="note"></textarea>
                                <mat-error *ngIf="addOrderForm.controls['note'].hasError('pattern')">
                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                    </label>
                                </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- workOrderNumber -->
                    <!-- <div class="col">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>رقم الطلب</mat-label>
                            <input autocomplete="off" type="text" matInput formControlName="workOrderNumber"
                                placeholder="مثال: 10214" [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="addOrderForm.controls['workOrderNumber'].hasError('required') && (addOrderForm.controls['workOrderNumber'].dirty 
                                || addOrderForm.controls['workOrderNumber'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addOrderForm.controls['workOrderNumber'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div> -->

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="file" (change)="onFileChange($event)" multiple="false" />
                    </div>
                </div>

                <!-- Form Builder Section -->
                <div class="row row-cols-1">
                    <div class="col">
                        <button class="btn-add-item btn-add-pos" type="button" (click)="addItem()"
                                *ngIf="addOrderForm">
                                <span>+</span>
                            </button>

                        <table class="table table-style table-sm table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="width: 5px;">
                                        التسلسل
                                    </th>

                                    <th style="max-width: 130px;">
                                        نوع القماش الجاهز
                                    </th>

                                    <th style="max-width: 60px;">
                                        كود القماش الجاهز
                                    </th>

                                    <th style="max-width: 60px;">
                                        الكمية
                                    </th>

                                    <th style="max-width: 80px;">
                                        فئة اللون
                                    </th>

                                    <th style="max-width: 80px;">
                                        اللون
                                    </th>

                                    <th style="max-width: 60px;">
                                        نسبة الهالك
                                    </th>

                                    <th style="max-width: 60px;">
                                        عرض القماش
                                    </th>

                                    <th style="max-width: 60px;">
                                        وزن القماش م2
                                    </th>
                                    
                                    <th style="width: 60px;">
                                        السعر
                                    </th>

                                    <th style="width: 60px;">
                                        السعر دولار
                                    </th>

                                    <th style="max-width: 100px;">
                                        ملاحظات
                                    </th>

                                    <th style="max-width: 100px;">
                                        استعلام عن القماش
                                    </th>

                                    <th style="width: 60px;">
                                        حذف
                                    </th>
                                </tr>
                            </thead>
                            <tbody formArrayName="items">
                                <tr *ngFor="let row of getItem(addOrderForm);let index = index;">
                                    <ng-container [formGroupName]="index">
                                        <td>
                                            <label style="width: 5px;">{{index+1}}</label>
                                        </td>

                                        <td class="table-td" style="max-width: 150px;">
                                            <ejs-autocomplete [dataSource]='dyedFabrics' [fields]='fieldsDyedFabric'
                                                 (filtering)="onFilteringDyedFabricName($event)"
                                                [placeholder]='textDyedFabric' [autofill]='autofill'
                                                formControlName="dyedFabricId" (change)='selectDyedFabric($event, row)'
                                                [errorStateMatcher]="matcher">
                                            </ejs-autocomplete>
                                            <small class="text-danger" *ngIf="row.get('dyedFabricId').hasError('pattern')"
                                                [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger" *ngIf="row.get('dyedFabricId').hasError('required') && (row.get('dyedFabricId').dirty 
                                                || row.get('dyedFabricId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    كود القماش الجاهز
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="كود القماش الجاهز" readonly
                                                    formControlName="dyedFabricCode">
                                            </mat-form-field>
                                        </td>

                                        <!-- Dyeing Quantity -->
                                        <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>الكمية </mat-label>
                                                <input autocomplete="off" type="text" matInput
                                                    formControlName="quantity" placeholder="مثال: 12000"
                                                    [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                    required />
                                                <mat-error class="text-danger"
                                                    *ngIf="row.get('quantity').hasError('incorrect')">
                                                    الكمية المدخلة غير متوفرة
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="row.get('quantity').hasError('required') && (row.get('quantity').dirty 
                                                                                            || row.get('quantity').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- Color Category -->
                                        <td class="table-td" style="max-width: 60px">
                                            <ejs-autocomplete [dataSource]='colorCategories'
                                                [fields]='fieldsColorCategory'
                                                (filtering)="onFilteringColorCategoryName($event)"
                                                [placeholder]='textColorCategory' [autofill]='autofill'
                                                formControlName="colorCategoryId"
                                                (change)='selectColorCategory($event, row, index)'
                                                [errorStateMatcher]="matcher">
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                                *ngIf="row.get('colorCategoryId').hasError('pattern')"
                                                [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger" *ngIf="row.get('colorCategoryId').hasError('required') && (row.get('colorCategoryId').dirty 
                                                || row.get('colorCategoryId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- Color -->
                                        <td class="table-td" style="max-width: 60px">
                                            <ejs-autocomplete [dataSource]='colors[index]' [fields]='fieldsColor'
                                                (filtering)="onFilteringColorName($event, index)" [placeholder]='textColor'
                                                [autofill]='autofill' formControlName="colorId"
                                                (change)='selectColor($event, row, index)'
                                                [errorStateMatcher]="matcher">
                                            </ejs-autocomplete>
                                            <small class="text-danger" *ngIf="row.get('colorId').hasError('pattern')"
                                                [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger" *ngIf="row.get('colorId').hasError('required') && (row.get('colorId').dirty 
                                                || row.get('colorId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- wast_ratio -->
                                        <td class="table-td" style="max-width: 60px">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>نسبة الهالك</mat-label>
                                                <input autocomplete="off" type="text" matInput
                                                    formControlName="wasteRatio" placeholder="مثال: 5"
                                                    [errorStateMatcher]="matcher" (change)="changeWasteRatio($event)"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error
                                                    *ngIf="row.get('wasteRatio').hasError('required') && (row.get('wasteRatio').dirty 
                                                                                            || row.get('wasteRatio').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('wasteRatio').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('wasteRatio').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- fabricWidth -->
                                        <td style="max-width: 60px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>عرض القماش</mat-label>
                                                <input autocomplete="off" type="text" matInput
                                                    formControlName="fabricWidth" placeholder="مثال: 10214"
                                                    [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('fabricWidth').hasError('required') && (row.get('fabricWidth').dirty 
                                                    || row.get('fabricWidth').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('fabricWidth').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- fabricQuantityM2 -->
                                        <td style="max-width: 60px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>وزن القماش م2</mat-label>
                                                <input autocomplete="off" type="text" matInput
                                                    formControlName="fabricQuantityM2" placeholder="مثال: 10214"
                                                    [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('fabricQuantityM2').hasError('required') && (row.get('fabricQuantityM2').dirty 
                                                    || row.get('fabricQuantityM2').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('fabricQuantityM2').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                         <!-- Price -->
                                         <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر*</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="price" placeholder="مثال: 15"
                                                    [errorStateMatcher]="matcher" (change)="changePrice('priceEG', row)"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                                    <mat-error *ngIf="row.get('price').hasError('required') && (row.get('price').dirty 
                                                    || row.get('price').touched)">
                                                        <label [innerHTML]="_sharedComponentService.required_field">
                                                        </label>
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('price').hasError('required')">
                                                        <label [innerHTML]="_sharedComponentService.required_field">
                                                        </label>
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('price').hasError('pattern')">
                                                        <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                        </label>
                                                    </mat-error>
                                            </mat-form-field>
                                        </td>

                                         <!-- priceDollar -->
                                        <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر دولار</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="priceDollar" placeholder="مثال: 15"
                                                    [errorStateMatcher]="matcher" (change)="changePrice('priceDollar', row)"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                                    <mat-error *ngIf="row.get('priceDollar').hasError('required') && (row.get('priceDollar').dirty 
                                                    || row.get('priceDollar').touched)">
                                                        <label [innerHTML]="_sharedComponentService.required_field">
                                                        </label>
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('priceDollar').hasError('required')">
                                                        <label [innerHTML]="_sharedComponentService.required_field">
                                                        </label>
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('priceDollar').hasError('pattern')">
                                                        <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                        </label>
                                                    </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- note -->
                                        <td style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label> ملاحظات </mat-label>
                                                <textarea matInput rows="1" matTextareaAutosize 
                                                     placeholder="ملاحظات"
                                                    formControlName="note"></textarea>
                                                <mat-error *ngIf="row.get('note').hasError('invalid') && (row.get('note').dirty 
                                                    || row.get('note').touched)">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('note').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- route Column -->
                                        <td data-html2canvas-ignore="true">
                                            <a target="_blank"
                                            (click)="inquireFabricAvilability(row)">
                                                <i class="fas fa-angle-double-right update-symbol"></i>
                                            </a>
                                        </td>

                                        <td>
                                            <button *ngIf="index !== 0" class="btn-del-item"
                                                (click)="removeItem(index)">
                                                -
                                            </button>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                  <td>الاجمالي</td>
                                
                                  <td colspan="2"></td>
                                  <td>{{_sharedComponentService.getTotalQuantityForm(addOrderForm, 'items', 'quantity') | number}}</td>
                                  <td colspan="10"></td>
                                </tr>
                              </tfoot>

                        </table>

                    </div>
                </div>
            </div>

            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto g-0">
                    <div class="col">
                        <button [hidden]="!isShowAdd" type="submit" class="btn-style submit-btn">إضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
