<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">

    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="addRequisitionForm" (ngSubmit)="onAddDetails()">
            <div [class]="_sharedComponentService.subMainPageForm2Class">
                <!-- Form Builder Section -->
                <div class="row row-cols-1">
                    <div class="col">
                        <!-- <button type="button" class="btn-add-item btn-add-pos" (click)="addItem()" *ngIf="addRequisitionForm">
                            <span>+</span>
                        </button> -->
                        <table class="table table-style table-sm table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="width: 10px;">
                                        التسلسل
                                    </th>

                                    <th style="max-width: 180px;">
                                        المخزن
                                    </th>

                                    <th style="max-width: 180px;">
                                        اسم الصنف
                                    </th>

                                    <th style="max-width: 100px;">
                                        كود الصنف
                                    </th>

                                    <th style="max-width: 100px;">
                                        اللوط
                                    </th>

                                    <th style="max-width: 100px;">
                                        رقم الرسالة
                                    </th>

                                    <th style="max-width: 100px;">
                                        السعر
                                    </th>

                                    <th style="max-width: 100px;">
                                        الكمية
                                    </th>

                                    <th>
                                        الوثيقة
                                    </th>

                                    <th>
                                        الملاحظات
                                    </th>

                                    <th style="width: 60px;">
                                        حذف
                                    </th>
                                </tr>
                            </thead>
                            <tbody formArrayName="items">
                                <tr *ngFor="let row of getItem(addRequisitionForm);let index = index;">
                                    <ng-container [formGroupName]="index">
                                        <td>
                                            <label style="width: 5px;">{{index+1}}</label>
                                        </td>

                                        <td class="table-td" style="max-width: 180px;">
                                            <ejs-autocomplete [dataSource]='warehouses' [fields]='fieldsWarehouse' 
                                            (filtering)="onFilteringWarehouse($event)"
                                                [placeholder]='textWarehouse' [autofill]='autofill'
                                                formControlName="warehouseId"
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('warehouseId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('warehouseId').hasError('required') && (row.get('warehouseId').dirty 
                                                || row.get('warehouseId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <td class="table-td" style="max-width: 180px;">
                                            <ejs-autocomplete [dataSource]='yarns' [fields]='fieldsYarn'
                                                 (filtering)="onFilteringYarnName($event)"
                                                [placeholder]='textYarn' [autofill]='autofill' formControlName="yarnId"
                                                (change)='selectYarn($event, row)' [errorStateMatcher]="matcher">
                                            </ejs-autocomplete>
                                            <small class="text-danger" *ngIf="row.get('yarnId').hasError('pattern')"
                                                [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger" *ngIf="row.get('yarnId').hasError('required') && (row.get('yarnId').dirty 
                                                || row.get('yarnId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    كود الصنف
                                                </mat-label>
                                                <input matInput placeholder="كود الصنف" readonly
                                                    formControlName="yarnCode">
                                            </mat-form-field>
                                        </td>

                                        <!-- Lot -->
                                        <td class="table-td" style="max-width: 180px;">
                                            <ejs-autocomplete [dataSource]='lots' [fields]='fieldsLot' 
                                            (filtering)="onFilteringLot($event)"
                                                [placeholder]='textLot' [autofill]='autofill'
                                                formControlName="yarnLotCode"
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('yarnLotCode').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('yarnLotCode').hasError('required') && (row.get('yarnLotCode').dirty 
                                                || row.get('yarnLotCode').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- consigment Yarn -->
                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>رقم الرسالة</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="consigmentYarnNumber" placeholder="مثال: 100"
                                                    [errorStateMatcher]="matcher" 
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                                    <mat-error *ngIf="row.get('consigmentYarnNumber').hasError('required') && (row.get('consigmentYarnNumber').dirty 
                                                    || row.get('consigmentYarnNumber').touched)">
                                                        <label [innerHTML]="_sharedComponentService.required_field">
                                                        </label>
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('consigmentYarnNumber').hasError('pattern')">
                                                        <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                        </label>
                                                    </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- Price -->
                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر*</mat-label>
                                                <input type="text" matInput formControlName="price"
                                                    placeholder="مثال: 15" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('price').hasError('required') && (row.get('price').dirty 
                                                    || row.get('price').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('price').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('price').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- Quantity -->
                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>الكمية*</mat-label>
                                                <input type="text" matInput formControlName="quantity"
                                                    placeholder="مثال: 12000" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error class="text-danger"
                                                    *ngIf="row.get('quantity').hasError('incorrect')">
                                                    الكمية المدخلة غير متوفرة
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('required') && (row.get('quantity').dirty 
                                                    || row.get('quantity').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- Document -->
                                        <td style="max-width: 120px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>الوثيقة</mat-label>
                                                <input type="text" matInput formControlName="document"
                                                    placeholder="مثال: 10214" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('document').hasError('required') && (row.get('document').dirty 
                                                || row.get('document').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('document').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('document').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- Statement -->
                                        <td>
                                            <mat-form-field class="w-100">
                                                <mat-label> الملاحظات </mat-label>
                                                <textarea matInput rows="1" matTextareaAutosize 
                                                     placeholder="الملاحظات"
                                                    formControlName="statement"></textarea>
                                                <mat-error *ngIf="row.get('statement').hasError('invalid') && (row.get('statement').dirty 
                                                    || row.get('statement').touched)">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('statement').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td>
                                            <button *ngIf="index !== 0" class="btn-del-item"
                                                (click)="removeItem(index)">
                                                -
                                            </button>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto g-0">
                    <div class="col">
                        <button [hidden]="!isShowAdd" type="submit" class="btn-style submit-btn">إضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>