<section [id]="_sharedComponentService.pageId()">
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div id="update-form" [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="sellRequisitionWeForm" (ngSubmit)="onUpdate()">
            <div [class]="_sharedComponentService.subMainPageFormClass">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridFormClass">

                    <div class="col">
                        <!-- Date -->
                        <mat-form-field appearance="outline" class="example-form-field w-100">
                            <mat-label>التاريخ</mat-label>
                            <input [disabled]="true" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle [disabled]="false" matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="false" #datepicker>
                              
                            </mat-datepicker>
                            <mat-error *ngIf="!sellRequisitionWeForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['date'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                          </mat-form-field>
                    </div>

                    <!-- Delivery Car -->
                    <div class="col">
                        <ejs-autocomplete [dataSource]='deliveryCars' [fields]='fieldsDeliveryCars' class="ejs-autocomplete w-100"
                            (filtering)="onFilteringDeliveryCars($event)" [placeholder]='textDeliveryCars' [autofill]='autofill'
                            formControlName="deliveryCarId" style="width: 260px;">
                        </ejs-autocomplete>
                        <small class="text-danger" *ngIf="sellRequisitionWeForm.controls['deliveryCarId'].hasError('pattern')"
                            [innerHTML]="_sharedComponentService.invalid_message">
                        </small>
                        <small class="text-danger" *ngIf="sellRequisitionWeForm.controls['deliveryCarId'].hasError('required') && (sellRequisitionWeForm.controls['deliveryCarId'].dirty 
                                || sellRequisitionWeForm.controls['deliveryCarId'].touched)"
                            [innerHTML]="_sharedComponentService.required_field">
                        </small>
                    </div>

                     <!-- note -->
                     <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> الملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="الملاحظات" formControlName="note"></textarea>
                                <mat-error *ngIf="sellRequisitionWeForm.controls['note'].hasError('pattern')">
                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                    </label>
                                </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Exchange Rate -->
                    <div class="col"
                    *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[19])">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>سعر الصرف</mat-label>
                            <input type="text" matInput [(ngModel)]="exchangeRatePrice" [ngModelOptions]="{standalone: true}"
                            (click)="$event.target.select()"
                            placeholder="مثال: 50"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                        </mat-form-field>
                    </div>
                    
                    <!-- Price -->
                    <div class="col" *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[19])">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>السعر*</mat-label>
                            <input type="text" matInput formControlName="price" placeholder="مثال: 15"
                                [errorStateMatcher]="matcher" (change)="changePrice('priceEG')"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="sellRequisitionWeForm.controls['price'].hasError('required') && (sellRequisitionWeForm.controls['price'].dirty 
                                    || sellRequisitionWeForm.controls['price'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['price'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['price'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- priceDollar -->
                    <div class="col" *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[19])">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>السعر دولار</mat-label>
                            <input type="text" matInput formControlName="priceDollar" placeholder="مثال: 15"
                                [errorStateMatcher]="matcher" (change)="changePrice('priceDollar')"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="sellRequisitionWeForm.controls['priceDollar'].hasError('required') && (sellRequisitionWeForm.controls['priceDollar'].dirty 
                                    || sellRequisitionWeForm.controls['priceDollar'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['priceDollar'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['priceDollar'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Quantity -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>الكمية*</mat-label>
                            <input type="text" matInput formControlName="quantity" placeholder="مثال: 12000"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error class="text-danger"
                                *ngIf="sellRequisitionWeForm.controls['quantity'].hasError('incorrect')">
                                الكمية المدخلة غير متوفرة
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['quantity'].hasError('required') && (sellRequisitionWeForm.controls['quantity'].dirty 
                                    || sellRequisitionWeForm.controls['quantity'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['quantity'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['quantity'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- numberFabricPieces -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>عدد الأثواب</mat-label>
                            <input type="text" matInput formControlName="numberFabricPieces" placeholder="مثال: 10214"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="sellRequisitionWeForm.controls['numberFabricPieces'].hasError('required') && (sellRequisitionWeForm.controls['numberFabricPieces'].dirty 
                                    || sellRequisitionWeForm.controls['numberFabricPieces'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['numberFabricPieces'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Document -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>الوثيقة</mat-label>
                            <input type="text" matInput formControlName="document" placeholder="مثال: 10214"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="sellRequisitionWeForm.controls['document'].hasError('required') && (sellRequisitionWeForm.controls['document'].dirty 
                                    || sellRequisitionWeForm.controls['document'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['document'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['document'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Statement -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> البيان </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="البيان" formControlName="statement"></textarea>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['statement'].hasError('invalid') && (sellRequisitionWeForm.controls['statement'].dirty 
                                    || sellRequisitionWeForm.controls['statement'].touched)">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="sellRequisitionWeForm.controls['statement'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto">
                    <div class="col">
                        <button type="submit" class="btn-style submit-btn">تعديل</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
