<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass" id="main-page-title">
            <h2 [class]="_sharedComponentService.TitleTextClass">اذن تسوية مصانع</h2>
        </div>
    </div>
    <!-- Form Section -->

    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
            <div [class]="_sharedComponentService.subMainPageFormClass">
                <div class="row row-cols-3">
                    <div id="table-header-data" class="col">
                        <table class="table table-style">
                            <tbody>
                                <tr>
                                    <th>
                                        رقم الإذن:
                                    </th>
                                    <td>
                                        {{requisitionDetails[0]?.number}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>التاريخ:</th>
                                    <td>{{requisitionDetails[0]?.date | date:'EEEE, d/M/y'}}</td>
                                </tr>

                                <tr>
                                    <th>المصنع:</th>
                                    <td>{{requisitionDetails[0]?.industry_name}}</td>
                                </tr>

                                <tr>
                                    <th>الملاحظات:</th>
                                    <td>{{requisitionDetails[0]?.note}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    
                    <div class="col">
                        <div class="btn-export-section">
                            <a (click)="_exportDataService.exportToPDF('table-header-data', dt1?.tableViewChild?.nativeElement?.id, 'اذن تسوية مصانع')">
                                <i title="PDF" class="far fa-file-pdf"></i>
                            </a>

                            <a (click)="_exportDataService.exportToExcel('table-header-data', 'table-data', 'اذن تسوية مصانع')">
                                <i title="Excel" class="far fa-file-excel px-2"></i>
                            </a>
                            
                            <a
                            (click)="_exportDataService.print('table-header-data', dt1?.tableViewChild?.nativeElement?.id, 'اذن تسوية مصانع', 'table-data-2')">
                            <i title="Print" class="fas fa-print pe-2"></i>
                        </a>
                        </div>
                    </div>
                </div>

                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridForm2Class">
                    <div class="col">
                        <div [class]="_sharedComponentService.tableSectionClass">
    
                            <div id="table-header-data-report">
                                <p-table #dt1 [value]="requisitionDetails" dataKey="id" columnResizeMode="expand"
                                    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" [rowHover]="true"
                                    [rows]="10" [showCurrentPageReport]="true" [loading]="loading" responsiveLayout="scroll"
                                    scrollHeight="600px" [filterDelay]="0" sortField="yarn_code" [responsive]="true"
                                    [sortOrder]="1" appendTo="body" [autoLayout]="true">
                                    <ng-template data-html2canvas-ignore="true" pTemplate="caption">
    
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
    
                                            <!-- Index Column -->
                                            <th>
                                                تسلسل
                                            </th>
    
                                            <!-- yarn Name Column -->
                                            <th pResizableColumn pSortableColumn="yarn_name">
                                                <div class="flex justify-content-between align-items-center">
                                                    المادة
                                                    <p-sortIcon data-html2canvas-ignore="true" field="yarn_name">
                                                    </p-sortIcon>
                                                </div>
                                            </th>
    
                                            <!-- yarn Code Column -->
                                            <th pResizableColumn pSortableColumn="yarn_code">
                                                <div class="flex justify-content-between align-items-center">
                                                    كود المادة
                                                    <p-sortIcon data-html2canvas-ignore="true" field="yarn_code">
                                                    </p-sortIcon>
                                                </div>
                                            </th>
    
                                            <!-- yarn_lot_code Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    اللوط
                                                </div>
                                            </th>
    
                                            <!-- Input Quantity Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    إدخال
                                                </div>
                                            </th>
    
                                            <!-- Output Quantity Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    إخراج
                                                </div>
                                            </th>
    
                                            <!-- Price Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    السعر
                                                </div>
                                            </th>
    
                                            <!-- Statement Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    البيان
                                                </div>
                                            </th>
    
                                            <!-- Update Column -->
                                            <th data-html2canvas-ignore="true">
                                                <div class="flex justify-content-between align-items-center">
                                                    تعديل
                                                </div>
                                            </th>
    
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-element let-index="rowIndex">
                                        <tr class="p-selectable-row">
    
    
                                            <!-- Index Column -->
                                            <td>
                                                {{index + 1}}
                                            </td>
    
                                            <!-- yarn Name Column -->
                                            <td>
                                                {{element.yarn_name}}
                                            </td>
    
                                            <!-- Yarn Code Column -->
                                            <td>
                                                {{ element.yarn_code }}
                                            </td>
    
                                            <!-- yarn_lot_code Column -->
                                            <td>
                                                {{ element.yarn_lot_code }}
                                            </td>
    
                                            <!-- Input Quantity Column -->
                                            <td>
                                                <ng-container *ngIf="element.input_output == '1'">
                                                    {{ element.quantity  | number}}
                                                </ng-container>
                                            </td>
    
                                            <!-- Output Quantity Column -->
                                            <td>
                                                <ng-container *ngIf="element.input_output == '0'">
                                                    {{ element.quantity  | number}}
                                                </ng-container>
                                            </td>
    
                                            <!-- Price Column -->
                                            <td>
                                                {{ element.price }}
                                            </td>
    
                                            <!-- Statement Column -->
                                            <td>
                                                {{ element.statement }}
                                            </td>
    
                                            <!-- Update Column -->
                                            <td data-html2canvas-ignore="true">
                                                <a onClick="document.getElementById('update-form').scrollIntoView();"
                                            (click)="getSelectedData(element)">
                                            <i class="fas fa-edit update-symbol"></i>
                                               </a>
                                            </td>
    
                                        </tr>
                                    </ng-template>
                                    <ng-template data-html2canvas-ignore="true" pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="10">لا يوجد بيانات</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <!-- Index Column -->
                                            <td></td>
    
                                            <!-- yarn Name Column -->
                                            <td>الإجمالي</td>
    
                                            <!-- yarn Code Column -->
                                            <td></td>
    
                                            <!-- yarn_lot_code Column -->
                                            <td></td>
    
                                            <!-- Input Quantity Column -->
                                            <td>
                                                {{_sharedComponentService.getTotalQuantityWithCondition(dt1.filteredValue ==
                                                    null ? requisitionDetails: dt1.filteredValue, 'quantity', 'input_output', '1') | number}}
                                            </td>
    
                                            <!-- Output Quantity Column -->
                                            <td>
                                                {{_sharedComponentService.getTotalQuantityWithCondition(dt1.filteredValue ==
                                                    null ? requisitionDetails: dt1.filteredValue, 'quantity', 'input_output', '0') | number}}
                                            </td>
    
                                            <!-- Price Column -->
                                            <td></td>
    
                                            <!-- Statement Column -->
                                            <td></td>
    
                                            <!-- Update Column -->
                                            <td></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
    
                        </div>
                    </div>
                </div>

            </div>
            <!-- Buttons Section -->
        <div *ngIf="!showAddDetails" [class]="_sharedComponentService.btnSectionClass">
            <div class="row row-cols-auto">
                <div class="col">
                    <button (click)="showAddDetailsFunc()" type="button" class="btn-style submit-btn">اضافة
                        بيانات</button>
                </div>
            </div>
        </div>
        
            {{requisitionDetails[0]?.creator_id}}
    </div>
</section>


<app-wb-reconciliation-requisition-update *ngIf="selectedDataToUpdate" [selectedData]="selectedDataToUpdate"></app-wb-reconciliation-requisition-update>

<app-wb-reconciliation-requisition-form-add-details *ngIf="showAddDetails" [selectedData]="selectedDataToDetails"></app-wb-reconciliation-requisition-form-add-details>