<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">اذن نقل من الخيط الى تريكو </h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="transportWaWbForm" (ngSubmit)="onTransportWaWbRequisition()">
            <div [class]="_sharedComponentService.subMainPageForm2Class">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridForm3Class">
                    <div class="col">
                        <!-- Date -->
                        <mat-form-field appearance="outline" class="example-form-field">
                            <mat-label>التاريخ</mat-label>
                            <input [disabled]="true" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle [disabled]="false" matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="false" #datepicker>
                              
                            </mat-datepicker>
                            <mat-error *ngIf="!transportWaWbForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="transportWaWbForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="transportWaWbForm.controls['date'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                          </mat-form-field>
                          

                    </div>

                    <!-- Warehouse -->
                    <div class="col">
                        <ejs-autocomplete [dataSource]='warehouses' [fields]='fieldsWarehouse' class="ejs-autocomplete"
                            (filtering)="onFilteringWarehouse($event)" [placeholder]='textWarehouse' [autofill]='autofill'
                            formControlName="warehouseId"
                            (change)="selectWarehouse($event)"
                            style="width: 260px;">
                        </ejs-autocomplete>
                            <small class="text-danger"
                            *ngIf="transportWaWbForm.controls.warehouseId.hasError('pattern')"
                            [innerHTML]="_sharedComponentService.invalid_message">
                            </small>
                            <small class="text-danger"
                                *ngIf="transportWaWbForm.controls.warehouseId.hasError('required') && (transportWaWbForm.controls.warehouseId.dirty 
                                || transportWaWbForm.controls.warehouseId.touched)"
                                [innerHTML]="_sharedComponentService.required_field">
                            </small>
                    </div>

                      <!-- Note -->
                      <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> ملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="ملاحظات" formControlName="note"></textarea>
                                <mat-error *ngIf="transportWaWbForm.controls['note'].hasError('pattern')">
                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                    </label>
                                </mat-error>
                        </mat-form-field>
                    </div>

                </div>


                <!-- Form Builder Section -->
                <div class="row row-cols-1">
                    <div class="col">
                        <button type="button" class="btn-add-item btn-add-pos" (click)="addItem()"
                                *ngIf="transportWaWbForm">
                                <span>+</span>
                            </button>
                        <table class="table table-style table-sm table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="width: 20px;">
                                        التسلسل
                                    </th>

                                    <th style="max-width: 120px;">
                                        اسم الصنف
                                    </th>

                                    <th style="max-width: 60px;">
                                        كود الصنف
                                    </th>

                                    <th style="max-width: 60px;">
                                        اللوط
                                    </th>

                                    <th style="max-width: 100px;">
                                        رقم الرسالة
                                    </th>

                                    <th style="max-width: 120px;">
                                        المصنع
                                    </th>

                                    <th style="max-width: 60px;"
                                    *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">
                                        السعر
                                    </th>

                                    <th style="max-width: 60px;"
                                    *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">
                                        السعر دولار
                                    </th>

                                    <th style="max-width: 80px;">
                                        الكمية المتوفرة
                                    </th>

                                    <th style="max-width: 60px;">
                                        الكمية
                                    </th>

                                    <th style="max-width: 100px;"
                                    *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">
                                        الاجمالي
                                    </th>

                                    <th style="max-width: 100px;"
                                    *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">
                                        الاجمالي دولار
                                    </th>
                                    
                                    <th style="max-width: 100px;">
                                        الى الرسالة
                                    </th>

                                    <th style="max-width: 120px;">
                                        القماش المراد تصنيعه
                                    </th>

                                    <th style="max-width: 60px;">
                                        كود القماش
                                    </th>

                                    <th style="max-width: 70px;">
                                        الوثيقة
                                    </th>

                                    <th style="max-width: 120px;">
                                        البيان
                                    </th>

                                    <th style="width: 20px;">
                                        حذف
                                    </th>
                                </tr>
                            </thead>
                            <tbody formArrayName="items">
                                <tr *ngFor="let row of getItem(transportWaWbForm);let index = index;">
                                    <ng-container [formGroupName]="index">
                                        <td>
                                            <label style="width: 5px;">{{index+1}}</label>
                                        </td>

                                        <td class="table-td" style="max-width: 120px;">
                                            <ejs-autocomplete [dataSource]='yarns' [fields]='fieldsYarn' 
                                            (filtering)="onFilteringYarnName($event)"
                                                [placeholder]='textYarn' [autofill]='autofill'
                                                formControlName="yarnId" (change)='selectYarn($event, row, index)'
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('yarnId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('yarnId').hasError('required') && (row.get('yarnId').dirty 
                                                || row.get('yarnId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="w-100">
                                                <mat-label> 
                                                    كود الصنف
                                                </mat-label>
                                                <input matInput placeholder="كود الصنف" readonly formControlName="yarnCode">
                                            </mat-form-field>
                                        </td>

                                        <!-- Lot -->
                                        <td class="table-td" style="max-width: 180px;">
                                            <ejs-autocomplete [dataSource]='lots' [fields]='fieldsLot' 
                                            (filtering)="onFilteringLot($event)"
                                            (change)='selectYarnLot($event, row, index)'
                                                [placeholder]='textLot' [autofill]='autofill'
                                                formControlName="yarnLotId"
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('yarnLotId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('yarnLotId').hasError('required') && (row.get('yarnLotId').dirty 
                                                || row.get('yarnLotId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- From Consigment Yarn -->
                                        <td class="table-td" style="max-width: 180px;">
                                            <ejs-autocomplete [dataSource]='fromConsigmentsYarns[index]' [fields]='fieldsFromConsigmentYarn' 
                                            (filtering)="onFilteringFromConsigmentYarn($event, index)"
                                            (change)='selectFromConsigmentYarn($event, row, index)'
                                                [placeholder]='textFromConsigmentYarn' [autofill]='autofill'
                                                formControlName="fromConsigmentYarnId"
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('fromConsigmentYarnId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('fromConsigmentYarnId').hasError('required') && (row.get('fromConsigmentYarnId').dirty 
                                                || row.get('fromConsigmentYarnId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>
                                        
                                        <!-- Industry -->
                                        <td class="table-td">
                                            <ejs-autocomplete [dataSource]='industries' [fields]='fieldsIndustry' 
                                            (filtering)="onFilteringIndustry($event)"
                                                [placeholder]='textIndustry' [autofill]='autofill'
                                                formControlName="industryId"
                                                (change)='selectIndustry($event, row)'
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('industryId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('industryId').hasError('required') && (row.get('industryId').dirty 
                                                || row.get('industryId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- Price -->
                                        <td class="table-td" style="max-width: 60px"
                                        *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر</mat-label>
                                                <input type="text" matInput formControlName="price" required placeholder="مثال: 15" [matAutocomplete]="autoGroup"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                    (change)="changePrice('priceEG', row)">
                                                <mat-autocomplete #autoGroup="matAutocomplete">
                                                    <ng-container *ngFor="let item of listYarnPrices[index]; let i = index">
                                                        <mat-optgroup [label]="groupPrices[i]" (click)="changePrice('priceEG', row)"
                                                        [disabled]="groupPrices[i].disabled">
                                                            <mat-option value="{{item | number}}">
                                                                {{item | number}}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </ng-container>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="row.get('price').hasError('required') && (row.get('price').dirty 
                                                                                            || row.get('price').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('price').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('price').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- priceDollar -->
                                        <td class="table-td" style="max-width: 60px"
                                        *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر دولار</mat-label>
                                                <input type="text" matInput formControlName="priceDollar" required placeholder="مثال: 15" [matAutocomplete]="autoGroup2"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                    (change)="changePrice('priceDollar', row)">
                                                <mat-autocomplete #autoGroup2="matAutocomplete">
                                                    <ng-container *ngFor="let item of listYarnPricesDollar[index]; let i = index">
                                                        <mat-optgroup [label]="groupPrices[i]" (click)="changePrice('priceDollar', row)"
                                                        [disabled]="groupPrices[i].disabled">
                                                            <mat-option value="{{item | number}}">
                                                                {{item | number}}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </ng-container>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="row.get('priceDollar').hasError('required') && (row.get('priceDollar').dirty 
                                                                                            || row.get('priceDollar').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('priceDollar').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('priceDollar').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label> 
                                                    الكمية المتوفرة
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="الكمية المتوفرة" value="{{currentQuantity[index]}}" readonly>
                                            </mat-form-field>
                                        </td>

                                        <!-- Initial Quantity -->
                                        <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>الكمية</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="quantity" placeholder="مثال: 12000"
                                                    [errorStateMatcher]="matcher" 
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1'); "
                                                    (change)="validate(row, index)"
                                                    required/>
                                                    <mat-error class="text-danger"
                                                    *ngIf="row.get('quantity').hasError('incorrect')">
                                                    الكمية المدخلة غير متوفرة
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('quantity').hasError('required')">
                                                        <label [innerHTML]="_sharedComponentService.required_field">
                                                        </label>
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('quantity').hasError('required') && (row.get('quantity').dirty 
                                                    || row.get('quantity').touched)">
                                                        <label [innerHTML]="_sharedComponentService.required_field">
                                                        </label>
                                                    </mat-error>
                                                    <mat-error *ngIf="row.get('quantity').hasError('pattern')">
                                                        <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                        </label>
                                                    </mat-error>
                                            </mat-form-field>
                                        </td>

                                         <!-- total -->
                                         <td class="align-middle text-center"
                                         *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">
                                            <span>
                                                {{_sharedComponentService.getPriceXQuantity(row.controls['price'].value, row.controls['quantity'].value) | number}}
                                            </span>
                                        </td>

                                         <!-- total_dollar -->
                                         <td class="align-middle text-center"
                                         *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">
                                            <span>
                                                {{_sharedComponentService.getPriceXQuantity(row.controls['priceDollar'].value, row.controls['quantity'].value) | number}}
                                            </span>
                                        </td>

                                        
                                        <!-- Consigment Yarn -->
                                        <td class="table-td" style="max-width: 180px;">
                                            <ejs-autocomplete [dataSource]='consigmentsYarns' [fields]='fieldsConsigmentYarn' 
                                            (filtering)="onFilteringConsigmentYarn($event)"
                                            (change)='selectConsigmentYarn($event, row)'
                                                [placeholder]='textConsigmentYarn' [autofill]='autofill'
                                                formControlName="consigmentYarnNumber"
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('consigmentYarnNumber').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('consigmentYarnNumber').hasError('required') && (row.get('consigmentYarnNumber').dirty 
                                                || row.get('consigmentYarnNumber').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- fabric to be manufactured -->
                                        <td class="table-td" style="max-width: 120px;">
                                            <ejs-autocomplete [dataSource]='fabrics' [fields]='fieldsFabric' 
                                            (filtering)="onFilteringFabricName($event)"
                                                [placeholder]='textFabric' [autofill]='autofill'
                                                formControlName="fabricToBeManufacturedId" (change)='selectFabric($event, row, index)'
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('fabricToBeManufacturedId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('fabricToBeManufacturedId').hasError('required') && (row.get('fabricToBeManufacturedId').dirty 
                                                || row.get('fabricToBeManufacturedId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <td class="table-td" style="max-width: 60px;">
                                            <mat-form-field class="w-100">
                                                <mat-label> 
                                                    كود القماش
                                                </mat-label>
                                                <input matInput placeholder="كود القماش" readonly formControlName="fabricCode">
                                            </mat-form-field>
                                        </td>
                                        
                                        <!-- Document -->
                                        <td style="max-width: 70px;">
                                        <mat-form-field class="w-100">
                                            <mat-label>الوثيقة</mat-label>
                                            <input autocomplete="off" type="text" matInput formControlName="document" placeholder="مثال: 10214"
                                                [errorStateMatcher]="matcher" 
                                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                />
                                                <mat-error *ngIf="row.get('document').hasError('required') && (row.get('document').dirty 
                                                || row.get('document').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('document').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('document').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                        </mat-form-field>
                                    </td>

                                    <!-- Statement -->
                                        <td style="max-width: 120px;">
                                            <mat-form-field class="w-100">
                                                <mat-label> البيان </mat-label>
                                                <textarea matInput rows="1"
                                                matTextareaAutosize
                                                
                                                
                                                    placeholder="البيان"
                                                    formControlName="statement"></textarea>
                                                <mat-error *ngIf="row.get('statement').hasError('invalid') && (row.get('statement').dirty 
                                                || row.get('statement').touched)">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('statement').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                            <td>
                                                <button *ngIf="index !== 0" class="btn-del-item"
                                                    (click)="removeItem(index)">
                                                    -
                                                </button>
                                            </td>
                                    </ng-container>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                  <td>الاجمالي</td>
                                
                                  <td colspan="6"></td>
                                  <td colspan="2"
                                  *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])"></td>
                                  <td>{{_sharedComponentService.getTotalQuantityForm(transportWaWbForm, 'items', 'quantity') | number}}</td>
                                  <td class="text-center"
                                  *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">{{_sharedComponentService.getTotalPriceXQuantityForm(transportWaWbForm, 'items', 'quantity', 'price') | number}}</td>
                                  <td class="text-center"
                                  *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[3])">{{_sharedComponentService.getTotalPriceXQuantityForm(transportWaWbForm, 'items', 'quantity', 'priceDollar') | number}}</td>
                                  <td colspan="8"></td>
                                </tr>
                              </tfoot>

                        </table>

                    </div>
                </div>
            </div>
            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto g-0">
                    <div class="col">
                        <button [hidden]="!isShowAdd" type="submit" class="btn-style submit-btn">إضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>