<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">إضافة مخزن</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="warehouseForm" (ngSubmit)="onAddWarehouse()">
            <div [class]="_sharedComponentService.subMainPageFormClass">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridFormClass">

                    <!-- Name -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>اسم المخزن*</mat-label>
                            <input autocomplete="off" type="text" matInput formControlName="name" placeholder="مثال: مستودع الشروق"
                                [errorStateMatcher]="matcher" />
                            <mat-error *ngIf="!warehouseForm.controls['name'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="warehouseForm.controls['name'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="warehouseForm.controls['name'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- address -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>عنوان المخزن</mat-label>
                            <input autocomplete="off" type="text" matInput formControlName="address"
                                placeholder="مثال: مدينة العاشر من رمضان - محافظه الشرقية"
                                [errorStateMatcher]="matcher" />
                            <mat-error *ngIf="!warehouseForm.controls['address'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="warehouseForm.controls['address'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="warehouseForm.controls['address'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Storekeeper Name -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>اسم امين المخزن</mat-label>
                            <input autocomplete="off" type="text" matInput formControlName="storekeeperName" placeholder="مثال: محمد احمد"
                                [errorStateMatcher]="matcher" />
                            <mat-error *ngIf="!warehouseForm.controls['storekeeperName'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="warehouseForm.controls['storekeeperName'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="warehouseForm.controls['storekeeperName'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>



                    <!-- phone -->
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>رقم الموبايل امين المخزن</mat-label>
                            <input autocomplete="off" matInput
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                #code formControlName="phone" placeholder="0123456789">
                            <mat-error *ngIf="!warehouseForm.controls['phone'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="warehouseForm.controls['phone'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="warehouseForm.controls['phone'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="d-flex align-items-center">
                        <p-checkbox formControlName="isStock" [label]="'مخزن ستوك '" [binary]="true" [trueValue]="1" [falseValue]="0"></p-checkbox>
                        <p-checkbox formControlName="isGrade" [label]="'مخزن درجة ثانية '" [binary]="true" [trueValue]="1" [falseValue]="0"></p-checkbox>
                    </div>

                </div>

            </div>
            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto g-0">
                    <div class="col">
                        <button type="submit" class="btn-style submit-btn">إضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
