<section [id]="_sharedComponentService.pageId()">
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div id="update-form" [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="inputDyeingWdForm" (ngSubmit)="onUpdate()">
            <div [class]="_sharedComponentService.subMainPageFormClass">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridFormClass">

                    <!-- isCalcDyeingNet -->
                    <div class="col">
                        <mat-checkbox formControlName="isCalcDyeingNet" class="px-1"
                            (change)="isChecked('isCalcDyeingNet', $event.checked ? 1: 0)">
                            حساب المصبغة على الوزن الصافي
                        </mat-checkbox>
                    </div>
                    
                    <!-- Date -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-form-field w-100">
                            <mat-label>التاريخ</mat-label>
                            <input [disabled]="true" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle [disabled]="false" matSuffix [for]="datepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker [disabled]="false" #datepicker>

                            </mat-datepicker>
                            <mat-error *ngIf="!inputDyeingWdForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['date'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <!-- release_process Number -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>الارسالية الصادرة</mat-label>
                            <input type="text" matInput formControlName="releaseProcess" placeholder="مثال: 10214"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="inputDyeingWdForm.controls['releaseProcess'].hasError('required') && (inputDyeingWdForm.controls['releaseProcess'].dirty 
                                    || inputDyeingWdForm.controls['releaseProcess'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['releaseProcess'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['releaseProcess'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <!-- note -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> الملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize placeholder="الملاحظات"
                                formControlName="note"></textarea>
                            <mat-error *ngIf="inputDyeingWdForm.controls['note'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Color Category -->
                    <div class="col">
                        <ejs-autocomplete [dataSource]='colorCategories' [fields]='fieldsColorCategory'
                            (filtering)="onFilteringColorCategoryName($event)" [placeholder]='textColorCategory'
                            [autofill]='autofill' formControlName="colorCategoryId" class="ejs-autocomplete w-100"
                            (change)="selectColorCategory($event)">
                        </ejs-autocomplete>
                        <small class="text-danger"
                            *ngIf="inputDyeingWdForm.controls['colorCategoryId'].hasError('pattern')"
                            [innerHTML]="_sharedComponentService.invalid_message">
                        </small>
                        <small class="text-danger" *ngIf="inputDyeingWdForm.controls['colorCategoryId'].hasError('required') && (inputDyeingWdForm.controls['colorCategoryId'].dirty 
                                                || inputDyeingWdForm.controls['colorCategoryId'].touched)"
                            [innerHTML]="_sharedComponentService.required_field">
                        </small>
                    </div>

                    <!-- Color -->
                    <div class="col">
                        <div class="row">
                            <div class="col-8">
                                <ejs-autocomplete [dataSource]='colors' [fields]='fieldsColor'
                                    (filtering)="onFilteringColorName($event)" [placeholder]='textColor'
                                    [autofill]='autofill' formControlName="colorName" class="ejs-autocomplete w-100"
                                    (change)="selectColor($event)">
                                </ejs-autocomplete>
                                <small class="text-danger"
                                    *ngIf="inputDyeingWdForm.controls['dyeingColorsPricesId'].hasError('pattern')"
                                    [innerHTML]="_sharedComponentService.invalid_message">
                                </small>
                                <small class="text-danger" *ngIf="inputDyeingWdForm.controls['dyeingColorsPricesId'].hasError('required') && (inputDyeingWdForm.controls['dyeingColorsPricesId'].dirty 
                                                    || inputDyeingWdForm.controls['dyeingColorsPricesId'].touched)"
                                    [innerHTML]="_sharedComponentService.required_field">
                                </small>
                            </div>
                            <div class="col-4">
                                <mat-form-field appearance="outline" class="example-full-width w-100">
                                    <input type="text" matInput formControlName="colorCode" placeholder="كود اللون"
                                        disabled />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- Dyeing Fee -->
                    <div class="col" lang="en">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label>اجرة الصباغة</mat-label>
                            <input autocomplete="off" type="number" matInput
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                formControlName="dyeingFee" placeholder="مثال: 6" required>
                            <mat-error *ngIf="!inputDyeingWdForm.controls['dyeingFee'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['dyeingFee'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['dyeingFee'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- added cost -->
                    <div class="col" lang="en">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label>مصاريف إضافية</mat-label>
                            <input autocomplete="off" type="number" matInput
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                formControlName="addedCost" placeholder="مثال: 6" required>
                            <mat-error *ngIf="!inputDyeingWdForm.controls['addedCost'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['addedCost'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['addedCost'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <!-- Price -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>السعر*</mat-label>
                            <input type="text" matInput formControlName="price" placeholder="مثال: 15"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="inputDyeingWdForm.controls['price'].hasError('required') && (inputDyeingWdForm.controls['price'].dirty 
                                    || inputDyeingWdForm.controls['price'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['price'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['price'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Quantity -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>الكمية*</mat-label>
                            <input type="text" matInput formControlName="quantity" placeholder="مثال: 12000"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error class="text-danger"
                                *ngIf="inputDyeingWdForm.controls['quantity'].hasError('incorrect')">
                                الكمية المدخلة غير متوفرة
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['quantity'].hasError('required') && (inputDyeingWdForm.controls['quantity'].dirty 
                                    || inputDyeingWdForm.controls['quantity'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['quantity'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['quantity'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Number Fabric Pieces -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>عدد الاثواب</mat-label>
                            <input type="text" matInput formControlName="numberFabricPieces" placeholder="مثال: 10"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                required />
                            <mat-error *ngIf="inputDyeingWdForm.controls['numberFabricPieces'].hasError('required') && (inputDyeingWdForm.controls['numberFabricPieces'].dirty 
                                    || inputDyeingWdForm.controls['numberFabricPieces'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['numberFabricPieces'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['numberFabricPieces'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Dying Quantity  -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>كمية المصبوغ</mat-label>
                            <input type="text" matInput formControlName="dyeingQuantity" placeholder="مثال: 12000"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                required />
                            <mat-error class="text-danger"
                                *ngIf="inputDyeingWdForm.controls['dyeingQuantity'].hasError('incorrect')">
                                الكمية المدخلة غير متوفرة
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['dyeingQuantity'].hasError('required') && (inputDyeingWdForm.controls['dyeingQuantity'].dirty 
                                    || inputDyeingWdForm.controls['dyeingQuantity'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['dyeingQuantity'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['dyeingQuantity'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- workOrderNumber -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>أمر الشغل</mat-label>
                            <input type="text" matInput formControlName="workOrderNumber" placeholder="مثال: 10214"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <mat-error *ngIf="inputDyeingWdForm.controls['workOrderNumber'].hasError('required') && (inputDyeingWdForm.controls['workOrderNumber'].dirty 
                                    || inputDyeingWdForm.controls['workOrderNumber'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['workOrderNumber'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['workOrderNumber'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- fabricWidth -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>عرض القماش</mat-label>
                            <input type="text" matInput formControlName="fabricWidth" placeholder="مثال: 10"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                required />
                            <mat-error *ngIf="inputDyeingWdForm.controls['fabricWidth'].hasError('required') && (inputDyeingWdForm.controls['fabricWidth'].dirty 
                                    || inputDyeingWdForm.controls['fabricWidth'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['fabricWidth'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['fabricWidth'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- fabricQuantityM2 -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>وزن القماش م2</mat-label>
                            <input type="text" matInput formControlName="fabricQuantityM2" placeholder="مثال: 10"
                                [errorStateMatcher]="matcher"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                required />
                            <mat-error *ngIf="inputDyeingWdForm.controls['fabricQuantityM2'].hasError('required') && (inputDyeingWdForm.controls['fabricQuantityM2'].dirty 
                                    || inputDyeingWdForm.controls['fabricQuantityM2'].touched)">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['fabricQuantityM2'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="inputDyeingWdForm.controls['fabricQuantityM2'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

            </div>

            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto">
                    <div class="col">
                        <button type="submit" class="btn-style submit-btn">تعديل</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>