<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">إظهار جميع اذونات التشكيل</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <div [class]="_sharedComponentService.subMainPageFormClass">
            <!-- Form Body -->
            <div [class]="_sharedComponentService.gridForm2Class">
                <div class="col">
                    <div [class]="_sharedComponentService.tableSectionClass">
                       
                        <div id="table-header-data-report">
                            <p-table #dt1 [value]="fabrics" dataKey="id"
                                columnResizeMode="expand"
                                styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" [rowHover]="true"
                                [rows]="10" [showCurrentPageReport]="true" [loading]="loading" responsiveLayout="scroll"
                                scrollHeight="600px" [filterDelay]="0" sortField="number" [responsive]="true"
                                [sortOrder]="0" appendTo="body" [autoLayout]="true">
                                <ng-template data-html2canvas-ignore="true" pTemplate="caption">

                                    <!-- Start Filter Section -->
                                    <div class="row row-cols-md-5 align-items-center">

                                        <div class="col">
                                            <p-calendar class="w-100"
                                            placeholder="البحث بـ التاريخ"
                                            [(ngModel)]="dateFilters"
                                                    appendTo="body"
                                                    selectionMode="range"
                                                    [readonlyInput]="true"
                                                    [showIcon]="true"
                                                    dateFormat="dd/mm/yy"
                                                    (onClickOutside)="selectedDate($event)">
                                                    </p-calendar>
                                        </div>

                                        <div class="col">
                                            <p-columnFilter field="dyeing_name" matchMode="dyeing-name-filter" [showMenu]="false"
                                                [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedDyeingName"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'dyeing_name')"
                                                        (onChange)="onMultiselectedDyeingName($event.value)"
                                                        placeholder="البحث بـ المصبغة" optionLabel="dyeing_name">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.dyeing_name}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>

                                        <div class="col">
                                            <p-columnFilter field="work_order_number" matchMode="work-order-number-filter" [showMenu]="false"
                                                [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedWorkOrderNumber"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'work_order_number')"
                                                        (onChange)="onMultiselectedWorkOrderNumber($event.value)"
                                                        placeholder="البحث بـ  رقم الطلب" optionLabel="work_order_number">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.work_order_number}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>

                                        <div class="col">
                                            <p-columnFilter field="details" matchMode="work-order-number-details-filter" [showMenu]="false"
                                                [showClearButton]="false" [matchModeOptions]="selectedWorkOrderNumberDetails">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedWorkOrderNumberDetails" 
                                                    [options]="_sharedComponentService.uniqueArray(formDetails, 'work_order_number_details')"
                                                        (onChange)="onMultiselectedWorkOrderNumberDetails($event.value)"
                                                        placeholder="البحث بـ أمر الشغل" optionLabel="work_order_number_details">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.work_order_number_details}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
    
                                        <div class="col">
                                            <p-columnFilter field="details" matchMode="fabric-name-filter" [showMenu]="false"
                                                [showClearButton]="false" [matchModeOptions]="selectedFabricName">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedFabricName" 
                                                    [options]="_sharedComponentService.uniqueArray(formDetails, 'dyed_fabric_name')"
                                                        (onChange)="onMultiselectedFabricName($event.value)"
                                                        placeholder="البحث بـ نوع القماش" optionLabel="dyed_fabric_name">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.dyed_fabric_name}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
    
                                        <div class="col">
                                            <p-columnFilter field="wc_fabric_order_requisition_name" matchMode="order-number-filter" [showMenu]="false"
                                                [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedOrderNumber"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'wc_fabric_order_requisition_name')"
                                                        (onChange)="onMultiselectedOrderNumber($event.value)"
                                                        placeholder="البحث بـ رقم الطلبية" optionLabel="wc_fabric_order_requisition_name">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.wc_fabric_order_requisition_name}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>

                                        <!-- <div class="col">
                                            <p-columnFilter field="seller_name" matchMode="seller-name-filter" [showMenu]="false"
                                                [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedSellerName"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'seller_name')"
                                                        (onChange)="onMultiselectedSellerName($event.value)"
                                                        placeholder="البحث بـ  العميل" optionLabel="seller_name">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.seller_name}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div> -->

                                        <!-- <div class="col">
                                            <p-columnFilter field="quantity" matchMode="quantity-filter" [showMenu]="false"
                                                [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedQuantity"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'quantity')"
                                                        (onChange)="onMultiselectedQuantity($event.value)"
                                                        placeholder="البحث بـ الكمية المطلوبة" optionLabel="quantity">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.quantity}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div> -->

                                        <!-- <div class="col">
                                            <p-columnFilter field="form_current_quantity" matchMode="form-current-quantity-filter" [showMenu]="false"
                                                [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedFormCurrentQuantity"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'form_current_quantity')"
                                                        (onChange)="onMultiselectedFormCurrentQuantity($event.value)"
                                                        placeholder="البحث بـ  الكمية المتبقية" optionLabel="form_current_quantity">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.form_current_quantity}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>                                         -->

                                        <!-- <div class="col">
                                            <p-columnFilter field="order_number" matchMode="order-number-filter" [showMenu]="false"
                                                [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedOrderNumber"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'order_number')"
                                                        (onChange)="onMultiselectedOrderNumber($event.value)"
                                                        placeholder="البحث بـ  رقم طلبية العميل" optionLabel="order_number">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.order_number}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div> -->
                                        
                                        <div class="col">
                                            <div data-html2canvas-ignore="true" class="flex">
                                                <button data-html2canvas-ignore="true" pButton label="اعادة"
                                                    class="p-button-outlined" icon="pi pi-filter-slash"
                                                    (click)="clear(dt1)"></button>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Filter Section -->

                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>

                                        <!-- Number Column -->
                                        <th>
                                            رقم الإذن
                                            <p-sortIcon data-html2canvas-ignore="true" field="number"></p-sortIcon>
                                        </th>

                                        <!-- Date Column -->
                                        <th pResizableColumn pSortableColumn="date">
                                            <div class="flex justify-content-between align-items-center">
                                                تاريخ الإذن
                                                <p-sortIcon data-html2canvas-ignore="true" field="date">
                                                </p-sortIcon>
                                            </div>
                                        </th>

                                        <!-- dyeing_name Column -->
                                        <th pResizableColumn pSortableColumn="dyeing_name">
                                            <div class="flex justify-content-between align-items-center">
                                                المصبغة
                                                <p-sortIcon data-html2canvas-ignore="true" field="dyeing_name">
                                                </p-sortIcon>
                                            </div>
                                        </th>

                                         <!-- work_order_number Column -->
                                         <th pResizableColumn pSortableColumn="work_order_number">
                                            <div class="flex justify-content-between align-items-center">
                                                رقم الطلب
                                                <p-sortIcon data-html2canvas-ignore="true" field="work_order_number">
                                                </p-sortIcon>
                                            </div>
                                        </th>

                                         <!-- wc_fabric_order_requisition_name Column -->
                                         <th pResizableColumn pSortableColumn="wc_fabric_order_requisition_name">
                                            <div class="flex justify-content-between align-items-center">
                                                طلبية
                                                <p-sortIcon data-html2canvas-ignore="true" field="wc_fabric_order_requisition_name">
                                                </p-sortIcon>
                                            </div>
                                        </th>

                                        <!-- details Column -->
                                        <th>
                                            <div class="flex justify-content-between align-items-center">
                                                <table>
                                                    <thead>
                                                        <tr>

                                                            <th style="width: 80px;">
                                                                امر الشغل
                                                            </th>

                                                            <th style="width: 80px;">
                                                                نوع القماش
                                                            </th>

                                                            <th style="width: 80px;">
                                                                الكمية
                                                            </th>

                                                            <th style="width: 80px;">
                                                                نزل المصبغة
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </th>

                                        <!-- seller_name Column -->
                                        <!-- <th pResizableColumn pSortableColumn="seller_name">
                                            <div class="flex justify-content-between align-items-center">
                                                العميل
                                                <p-sortIcon data-html2canvas-ignore="true" field="seller_name">
                                                </p-sortIcon>
                                            </div>
                                        </th> -->

                                        <!-- quantity Column -->
                                        <!-- <th pResizableColumn pSortableColumn="quantity">
                                            <div class="flex justify-content-between align-items-center">
                                                الكمية المطلوبة
                                                <p-sortIcon data-html2canvas-ignore="true" field="quantity">
                                                </p-sortIcon>
                                            </div>
                                        </th> -->
                                        
                                         <!-- form_current_quantity Column -->
                                         <!-- <th pResizableColumn pSortableColumn="form_current_quantity">
                                            <div class="flex justify-content-between align-items-center">
                                                الكمية المتبقية
                                                <p-sortIcon data-html2canvas-ignore="true" field="form_current_quantity">
                                                </p-sortIcon>
                                            </div>
                                        </th> -->

                                         <!-- order_number Column -->
                                         <!-- <th pResizableColumn pSortableColumn="order_number">
                                            <div class="flex justify-content-between align-items-center">
                                                رقم طلبية العميل
                                                <p-sortIcon data-html2canvas-ignore="true" field="order_number">
                                                </p-sortIcon>
                                            </div>
                                        </th> -->
                                      
                                        <!-- note Column -->
                                        <th>
                                            <div class="flex justify-content-between align-items-center">
                                                الملاحظات
                                               
                                            </div>
                                        </th>                           

                                        <!-- Details Column -->
                                        <th data-html2canvas-ignore="true">
                                            <div class="flex justify-content-between align-items-center">
                                                تفاصيل الإذن
                                            </div>
                                        </th>
                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="body" let-element let-index="rowIndex">
                                    <tr class="p-selectable-row"  [ngClass]="{'warning_background': element.is_active == '0'}">

                                        <!-- Index Column -->
                                        <td>
                                            {{element.number}}
                                        </td>

                                        <!-- Date Column -->
                                        <td>
                                            {{element.date | date:'EEEE, d/M/y' }}
                                        </td>

                                        <!-- dyeing_name Column -->
                                        <td>
                                            {{ element.dyeing_name }}
                                        </td>

                                        <!-- work_order_number Column -->
                                        <td>
                                            {{ element.work_order_number }}
                                        </td>

                                        <!-- wc_fabric_order_requisition_name Column -->
                                        <td>
                                            {{ element.wc_fabric_order_requisition_name }}
                                        </td>
                                        
                                        <!-- details Column -->
                                        <td>
                                            <table>
                                                <tbody>
                                                    <tr *ngFor="let item of element.details">

                                                        <td style="width: 80px;">
                                                            {{item.work_order_number_details}}
                                                        </td>

                                                        <td style="width: 80px;">
                                                            {{item.dyed_fabric_name}}
                                                        </td>

                                                        <td style="width: 80px;">
                                                            {{item.quantity}}
                                                        </td>

                                                        <td style="width: 80px;">
                                                            <p-checkbox [(ngModel)]="item.is_prepare_dyeing"
                                        [binary]="true" [trueValue]="1" [falseValue]="0" [disabled]="true"></p-checkbox>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td style="width: 80px;">الإجمالي</td>
                                                        <td style="width: 80px;"></td>
                                                        <td style="width: 80px;">
                                                            {{_sharedComponentService.getTotalQuantity(element.details,
                                                            'quantity') | number}}
                                                        </td>
                                                        <td style="width: 80px;"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </td>

                                        <!-- seller_name Column -->
                                        <!-- <td>
                                            {{ element.seller_name }}
                                        </td> -->

                                        <!-- quantity Column -->
                                        <!-- <td>
                                            {{ element.quantity }}
                                        </td> -->

                                         <!-- form_current_quantity Column -->
                                         <!-- <td>
                                            {{ element.form_current_quantity }}
                                        </td> -->

                                        <!-- order_number Column -->
                                        <!-- <td>
                                            {{ element.order_number }}
                                        </td> -->

                                        <!-- note Column -->
                                        <td>
                                            {{ element.note }}
                                        </td>

                                        <!-- Details Column -->
                                        <td data-html2canvas-ignore="true" >
                                            <a *ngIf="element.is_order == 0" [routerLink]="['details']" [queryParams]="{ id: element.id}">
                                                <i class="fas fa-angle-double-right update-symbol"></i>
                                            </a>
                                            <a *ngIf="element.is_order == 1" 
                                                [routerLink]="['/dashboard/'+_constantsService.ROUTING_LINKS[140]]" [queryParams]="{ id: element.id}">
                                                <i class="fas fa-angle-double-right update-symbol"></i>
                                            </a>
                                            
                                        </td>

                                    </tr>
                                </ng-template>
                                <ng-template data-html2canvas-ignore="true" pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="11">لا يوجد بيانات</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>