<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">إظهار جميع طلبيات العملاء</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <div [class]="_sharedComponentService.subMainPageFormClass">
            <!-- Form Body -->
            <div [class]="_sharedComponentService.gridForm2Class">
                <div class="col">
                    <div [class]="_sharedComponentService.tableSectionClass">

                        <div id="table-header-data-report">
                            <p-table #dt1 [value]="fabrics" [(selection)]="selectedData" dataKey="id" columnResizeMode="expand"
                                styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" [rowHover]="true"
                                [rows]="10" [showCurrentPageReport]="true" [loading]="loading" responsiveLayout="scroll"
                                scrollHeight="600px" [filterDelay]="0" sortField="number" [responsive]="true"
                                [sortOrder]="0" appendTo="body" [autoLayout]="true">
                                <ng-template data-html2canvas-ignore="true" pTemplate="caption">

                                    <!-- Start Filter Section -->
                                    <div class="row row-cols-md-5 align-items-center">

                                        <div class="col">
                                            <p-calendar class="w-100" placeholder="البحث بـ التاريخ"
                                                [(ngModel)]="dateFilters" appendTo="body" selectionMode="range"
                                                [readonlyInput]="true" [showIcon]="true" dateFormat="dd/mm/yy"
                                                (onClickOutside)="selectedDate($event)">
                                            </p-calendar>
                                        </div>

                                        <div class="col">
                                            <p-columnFilter field="seller_name" matchMode="seller-name-filter"
                                                [showMenu]="false" [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedSellerName"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'seller_name')"
                                                        (onChange)="onMultiselectedSellerName($event.value)"
                                                        placeholder="البحث بـ العميل" optionLabel="seller_name">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.seller_name}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>

                                        <div class="col">
                                            <p-columnFilter field="note" matchMode="note-filter" [showMenu]="false"
                                                [showClearButton]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="selectedWorkOrderNumber"
                                                        [options]="_sharedComponentService.uniqueArray(fabrics, 'note')"
                                                        (onChange)="onMultiselectedNote($event.value)"
                                                        placeholder="البحث بـ الملاحظات" optionLabel="note">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <span class="ml-1">{{option.note}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>

                                        <div class="col">
                                            <div data-html2canvas-ignore="true" class="flex">
                                                <button data-html2canvas-ignore="true" pButton label="اعادة"
                                                    class="p-button-outlined" icon="pi pi-filter-slash"
                                                    (click)="clear(dt1)"></button>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Filter Section -->

                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>

                                        <!-- select Column -->
                                        <th *ngIf="router.url == '/dashboard/show-all-opened-dyed-fabric-order-requisition-we'">
                                            اختيار
                                        </th>

                                        <!-- Number Column -->
                                        <th>
                                            رقم الإذن
                                            <p-sortIcon data-html2canvas-ignore="true" field="number"></p-sortIcon>
                                        </th>

                                        <!-- Date Column -->
                                        <th pResizableColumn pSortableColumn="date">
                                            <div class="flex justify-content-between align-items-center">
                                                تاريخ الإذن
                                                <p-sortIcon data-html2canvas-ignore="true" field="date">
                                                </p-sortIcon>
                                            </div>
                                        </th>

                                        <!-- seller_name Column -->
                                        <th pResizableColumn pSortableColumn="seller_name">
                                            <div class="flex justify-content-between align-items-center">
                                                العميل
                                                <p-sortIcon data-html2canvas-ignore="true" field="seller_name">
                                                </p-sortIcon>
                                            </div>
                                        </th>

                                        <!-- name Column -->
                                        <th pResizableColumn pSortableColumn="name">
                                            <div class="flex justify-content-between align-items-center">
                                                اسم الطلبية
                                                <p-sortIcon data-html2canvas-ignore="true" field="name">
                                                </p-sortIcon>
                                            </div>
                                        </th>

                                        <!-- requisition_details Column -->
                                        <!-- <th>
                                            <div class="flex justify-content-between align-items-center">
                                                نوع القماش
                                            </div>
                                        </th> -->

                                        <!-- note Column -->
                                        <th>
                                            <div class="flex justify-content-between align-items-center">
                                                الملاحظات

                                            </div>
                                        </th>

                                        <!-- wa_yarn_order_requisition Column -->
                                        <th data-html2canvas-ignore="true">
                                            <div class="flex justify-content-between align-items-center">
                                                طلبية خيط
                                            </div>
                                        </th>

                                        <!-- wc_fabric_order_requisition Column -->
                                        <th data-html2canvas-ignore="true">
                                            <div class="flex justify-content-between align-items-center">
                                                طلبية الخام
                                            </div>
                                        </th>

                                        <!-- close_order Column -->
                                        <th data-html2canvas-ignore="true"
                                            *ngIf="router.url == '/dashboard/show-all-opened-dyed-fabric-order-requisition-we'">
                                            <div class="flex justify-content-between align-items-center">
                                                إغلاق الطلبية
                                            </div>
                                        </th>

                                        <!-- Details Column -->
                                        <th data-html2canvas-ignore="true">
                                            <div class="flex justify-content-between align-items-center">
                                                تفاصيل الإذن
                                            </div>
                                        </th>

                                        <!-- report Column -->
                                        <th data-html2canvas-ignore="true">
                                            <div class="flex justify-content-between align-items-center">
                                                التقرير
                                            </div>
                                        </th>

                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="body" let-element let-index="rowIndex">
                                    <tr class="p-selectable-row"
                                        [ngClass]="{'warning_background': element.is_active == '0'}">

                                        <!-- Select Column -->
                                        <td *ngIf="router.url == '/dashboard/show-all-opened-dyed-fabric-order-requisition-we'" data-html2canvas-ignore="true">
                                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                                        </td>

                                        <!-- Index Column -->
                                        <td>
                                            {{element.number}}
                                        </td>

                                        <!-- Date Column -->
                                        <td>
                                            {{element.date | date:'EEEE, d/M/y' }}
                                        </td>

                                        <!-- seller_name Column -->
                                        <td>
                                            {{ element.seller_name }}
                                        </td>

                                        <!-- name Column -->
                                        <td>
                                            {{ element.name }}
                                        </td>

                                        <!-- requisition_details Column -->
                                        <!-- <td>
                                            <table class="table" *ngIf="element.requestionDetails.length > 0">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            نوع القماش الجاهز
                                                        </th>
                                                        <th>
                                                            كود القماش الجاهز
                                                        </th>
                                                        <th>
                                                            فئة اللون
                                                        </th>
                                                        <th>
                                                            اللون
                                                        </th>
                                                        <th>
                                                            الكمية المطلوبة
                                                        </th>

                                                        <th style="width: 200px;">
                                                            الكمية الجاهزة
                                                        </th>

                                                        <th>
                                                            الكمية المتبقية
                                                       </th>

                                                       <th>
                                                        الكمية الزائدة
                                                        </th>

                                                       <th>
                                                         نسبة الهالك
                                                    </th>

                                                       <th>
                                                        عرض القماش
                                                    </th>
                                                    <th>
                                                        وزن القماش م2
                                                    </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let requestionDetailsData of element.requestionDetails">

                                                        <td>
                                                            {{ requestionDetailsData.dyed_fabric_name}}
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.dyed_fabric_code}}
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.color_category_name}}
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.color_name}} ({{ requestionDetailsData.color_code}})
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.quantity | number}}
                                                        </td>

                                                        <td style="width: 200px;">
                                                            <table class="table"
                                                                *ngIf="requestionDetailsData.warehouseDetails.length > 0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            المخزن
                                                                        </th>
                                                                        <th>
                                                                            الكمية
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let warehouseData of requestionDetailsData.warehouseDetails"
                                                                        [ngClass]="{'warning_quantity': warehouseData.is_grade == '1'}">
                                                                        <td>
                                                                            {{ warehouseData.warehouse_name}}
                                                                        </td>
                                                                        <td>
                                                                            {{ warehouseData.quantity | number}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.current_quantity}}
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.over_current_quantity}}
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.waste_ratio}}
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.fabric_width}}
                                                        </td>

                                                        <td>
                                                            {{ requestionDetailsData.fabric_quantity_m2}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td>الإجمالي</td>
                                                        <td [colSpan]="3"></td>
                                                        <td>
                                                            {{_sharedComponentService.getTotalQuantity(element.requestionDetails,
                                                            'quantity') | number}}
                                                        </td>
                                                       
                                                        <td>
                                                            {{
                                                                _sharedComponentService.getTotalQuantity(element.requestionDetails,
                                                                'quantity') 
                                                                -
                                                            _sharedComponentService.getTotalQuantity(element.requestionDetails,
                                                            'current_quantity') | number}}
                                                        </td>

                                                        <td>
                                                            {{_sharedComponentService.getTotalQuantity(element.requestionDetails,
                                                            'current_quantity') | number}}
                                                        </td>

                                                        <td>
                                                            {{_sharedComponentService.getTotalQuantity(element.requestionDetails,
                                                            'over_current_quantity') | number}}
                                                        </td>

                                                        <td></td>

                                                        <td></td>

                                                        <td></td>

                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </td> -->

                                        <!-- note Column -->
                                        <td>
                                            {{ element.note }}
                                        </td>

                                        <!-- wa_yarn_order_requisition Column -->
                                        <td data-html2canvas-ignore="true">
                                            <ng-container *ngIf="element.yarnOrders.length < 1">
                                                <a
                                                [routerLink]="[goToRequisitionPage('add_yarn_order_requisition', element)]"
                                                [queryParams]="{ id: element.id}">
                                                    <i class="fa-solid fa-square-plus update-symbol"></i>
                                                </a>
                                            </ng-container>

                                            <ng-container *ngFor="let yarnOrder of element.yarnOrders">
                                                
                                                <a class="pb-2" *ngIf="yarnOrder.is_order == '0'; else elseBlockYarnOrder"
                                                [routerLink]="[goToRequisitionPage('show_all_closed_yarn_order_requisition', element)]"
                                                [queryParams]="{ id: yarnOrder.wa_yarn_order_requisition_id}">
                                                    {{yarnOrder.order_number}}
                                                </a>

                                                <!-- <ng-container *ngIf="router.url == '/dashboard/show-all-opened-dyed-fabric-order-requisition-we'">
                                                    <a *ngIf="element.wa_yarn_order_requisition_id == null; else elseBlockYarnOrder"
                                                    [routerLink]="[goToRequisitionPage('add_yarn_order_requisition', element)]"
                                                    [queryParams]="{ id: element.id}">
                                                        <i class="fa-solid fa-square-plus update-symbol"></i>
                                                    </a>
                                                </ng-container>
                                           -->
    
                                                <ng-template #elseBlockYarnOrder>
                                                    <a class="pb-2" [routerLink]="[goToRequisitionPage('show_all_opened_yarn_order_requisition', element)]"
                                                    [queryParams]="{ id: yarnOrder.wa_yarn_order_requisition_id}">
                                                    {{yarnOrder.order_number}}
                                                    </a>
                                                </ng-template>
                                                <br>
                                            </ng-container>
                  
                                        </td>

                                        <!-- wc_fabric_order_requisition Column -->
                                        <td data-html2canvas-ignore="true">
                                            <ng-container *ngIf="element.fabricOrders.length < 1">
                                                <a
                                                [routerLink]="[goToRequisitionPage('add_fabric_order_requisition', element)]"
                                                [queryParams]="{ id: element.id}">
                                                    <i class="fa-solid fa-square-plus update-symbol"></i>
                                                </a>
                                            </ng-container>

                                            <ng-container *ngFor="let fabricOrder of element.fabricOrders">
                                                
                                                <a class="pb-2" *ngIf="fabricOrder.is_order == '0'; else elseBlockFabricOrder"
                                                [routerLink]="[goToRequisitionPage('show_all_closed_fabric_order_requisition', element)]"
                                                [queryParams]="{ id: fabricOrder.wc_fabric_order_requisition_id}">
                                                    {{fabricOrder.order_number}}
                                                </a>
    
                                                <ng-template #elseBlockFabricOrder>
                                                    <a class="pb-2" [routerLink]="[goToRequisitionPage('show_all_opened_fabric_order_requisition', element)]"
                                                    [queryParams]="{ id: fabricOrder.wc_fabric_order_requisition_id}">
                                                    {{fabricOrder.order_number}}
                                                    </a>
                                                </ng-template>
                                                <br>
                                            </ng-container>
                  
                                        </td>

                                        <!-- close_order Column -->
                                        <td data-html2canvas-ignore="true"
                                            *ngIf="router.url == '/dashboard/show-all-opened-dyed-fabric-order-requisition-we'">
                                            <p-confirmPopup></p-confirmPopup>
                                            <a (click)="confirm($event, element)">
                                                <i class="fas fa-edit update-symbol"></i>
                                            </a>
                                        </td>

                                        <!-- Details Column -->
                                        <td data-html2canvas-ignore="true">
                                            <a *ngIf="router.url == '/dashboard/show-all-closed-dyeing-order-wd'; else elseBlockDetails"
                                                [routerLink]="['closed-details']" [queryParams]="{ id: element.id}">
                                                <i class="fas fa-angle-double-right update-symbol"></i>
                                            </a>

                                            <ng-template #elseBlockDetails>
                                                <a [routerLink]="['details']" [queryParams]="{ id: element.id}">
                                                    <i class="fas fa-angle-double-right update-symbol"></i>
                                                </a>
                                            </ng-template>
                                        </td>

                                        <!-- report Column -->
                                        <td data-html2canvas-ignore="true">
                                            <a [routerLink]="['/dashboard', 'dyed-fabric-order-report']" 
                                            [queryParams]="{ id: element.id, sellerId: element.seller_id}">
                                                <i class="fas fa-angle-double-right update-symbol"></i>
                                            </a>
                                        </td>

                                    </tr>
                                </ng-template>
                                <ng-template data-html2canvas-ignore="true" pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="11">لا يوجد بيانات</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto">
                    <div class="col">
                        <button [disabled]="selectedData.length < 1" (click)="inquireReport()" 
                        type="submit"
                            class="btn-style submit-btn">
                        استعلام عن توافر القماش
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>