<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">{{titlePage}}</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <div [class]="_sharedComponentService.subMainPageFormClass">
            <!-- Form Body -->
            <div [class]="_sharedComponentService.gridForm2Class">
                <div class="col">
                    <div [class]="_sharedComponentService.tableSectionClass">

                        
                        <div id="table-header-data-report" dir="rtl" class="ag-theme-alpine ag-rtl">

                            <ag-grid-angular 
                            #agGrid
                            class="ag-theme-alpine ag-rtl" 
                            [ngStyle]="_sharedComponentService.gridStyle"
                            [getRowHeight]="getRowHeight"
                            (gridReady)="onGridReady($event)"            
                            [columnDefs]="columnDefs" 
                            [defaultColDef]="defaultColDef"
                            [enableRangeSelection]="true" 
                            [enableFillHandle]="true" 
                            [undoRedoCellEditing]="true"
                            [enableCellChangeFlash]="true"
                            [rowData]="results" 
                            [localeText]="_sharedComponentService.localeText" 
                            [pinnedBottomRowData]="pinnedBottomRowData"
                            [sideBar]="sideBar"
                            (filterChanged)="onFilterChanged()"
                            (sortChanged)="onFilterChanged()"
                            >
                            </ag-grid-angular>

                        </div>


                   
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>