td table tbody tr {
    border: 1px solid #ccc;
}

td table tfoot tr, td table thead tr {
    border: 1px solid #ccc;
    color: var(--primary-color-3) !important;
    background-color: var(--primary-color-1) !important;
}
