<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">اذن نقل بين مخازن الخيوط</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="addtransitionIndustriesRequisitionForm" (ngSubmit)="onAddTransitionIndustriesRequisition()">
            <div [class]="_sharedComponentService.subMainPageForm2Class">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridForm3Class">
                    <div class="col">
                        <!-- Date -->
                        <mat-form-field appearance="outline" class="example-form-field w-100">
                            <mat-label>التاريخ</mat-label>
                            <input [disabled]="true" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle [disabled]="false" matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="false" #datepicker>

                            </mat-datepicker>
                            <mat-error *ngIf="!addtransitionIndustriesRequisitionForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addtransitionIndustriesRequisitionForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="addtransitionIndustriesRequisitionForm.controls['date'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!--To warehouses -->
                    <div class="col">
                        <ejs-autocomplete [dataSource]='toWarehouses' [fields]='fieldsToWarehouse' 
                            (filtering)="onFilteringToWarehouse($event)" [placeholder]='textToWarehouse' [autofill]='autofill'
                            formControlName="toWarehouseId" class="ejs-autocomplete w-100" 
                            (change)="selectToWarehouse($event)">
                        </ejs-autocomplete>
                        <small class="text-danger" *ngIf="addtransitionIndustriesRequisitionForm.controls['toWarehouseId'].hasError('pattern')"
                            [innerHTML]="_sharedComponentService.invalid_message">
                        </small>
                        <small class="text-danger" *ngIf="addtransitionIndustriesRequisitionForm.controls['toWarehouseId'].hasError('required') 
                        && (addtransitionIndustriesRequisitionForm.controls['toWarehouseId'].dirty 
                            || addtransitionIndustriesRequisitionForm.controls['toWarehouseId'].touched)"
                            [innerHTML]="_sharedComponentService.required_field">
                        </small>
                    </div>

                    <!-- Note -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> ملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="ملاحظات" formControlName="note"></textarea>
                                <mat-error *ngIf="addtransitionIndustriesRequisitionForm.controls['note'].hasError('pattern')">
                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                    </label>
                                </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Form Builder Section -->
                <div class="row row-cols-1">
                    <div class="col">
                        <button type="button" class="btn-add-item btn-add-pos" (click)="addItem()" *ngIf="addtransitionIndustriesRequisitionForm">
                            <span>+</span>
                        </button>
                        <table class="table table-style table-sm table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="width: 5px;">
                                        التسلسل
                                    </th>

                                    <th style="min-width: 100px;">
                                        من مخزن
                                    </th>
                                    
                                    <th style="min-width: 120px;">
                                        الطلبية
                                    </th>

                                    <th style="max-width: 120px;">
                                        اسم الخيط
                                    </th>

                                    <th style="max-width: 80px;">
                                        كود المادة
                                    </th>

                                    <th style="max-width: 100px;">
                                        من لوط
                                    </th>

                                    <th style="max-width: 120px;">
                                        رقم الرسالة
                                    </th>

                                    <th style="max-width: 80px;">
                                        الكمية المتوفرة
                                    </th>

                                    <th style="max-width: 80px;">
                                        الكمية
                                    </th>

                                    <th *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[2])" 
                                    style="max-width: 60px;">
                                        السعر 
                                    </th>

                                    <th *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[2])" 
                                    style="max-width: 60px;">
                                        السعر دولار 
                                    </th>

                                    <th style="max-width: 120px;">
                                        الى رقم الرسالة
                                    </th>

                                    <th style="max-width: 100px;">
                                        الى اللوط
                                    </th>

                                    <th style="max-width: 80px;">
                                        الوثيقة
                                    </th>

                                    <th style="max-width: 120px;">
                                        البيان
                                    </th>

                                    <th style="width: 60px;">
                                        حذف
                                    </th>
                                </tr>
                            </thead>
                            <tbody formArrayName="items">
                                <tr *ngFor="let row of getItem(addtransitionIndustriesRequisitionForm);let index = index;">
                                    <ng-container [formGroupName]="index">
                                        <td>
                                            <label style="width: 5px;">{{index+1}}</label>
                                        </td>

                                        <td class="table-td" style="width: 100px;">
                                            <ejs-autocomplete [dataSource]='fromWarehouses' [fields]='fieldsFromWarehouse'
                                                 (filtering)="onFilteringFromWarehouse($event)"
                                                [placeholder]='textFromWarehouse' [autofill]='autofill' formControlName="fromWarehouseId"
                                                (change)='selectFromWarehouse($event, row, index)' [errorStateMatcher]="matcher">
                                            </ejs-autocomplete>
                                            <small class="text-danger" *ngIf="row.get('fromWarehouseId').hasError('pattern')"
                                                [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger" *ngIf="row.get('fromWarehouseId').hasError('required') && (row.get('fromWarehouseId').dirty 
                                                || row.get('fromWarehouseId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- order -->
                                        <td class="table-td" style="max-width: 120px;">
                                            <ejs-autocomplete [dataSource]='yarnOrder' [fields]='fieldsYarnOrder' 
                                            (filtering)="onFilteringYarnOrder($event)"
                                            (change)='selectYarnOrder($event, row, index)'
                                                [placeholder]='textYarnOrder' [autofill]='autofill'
                                                formControlName="yarnOrderId"
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('yarnOrderId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('yarnOrderId').hasError('required') && (row.get('yarnOrderId').dirty 
                                                || row.get('yarnOrderId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <td class="table-td" style="width: 120px;">
                                            <ejs-autocomplete [dataSource]='yarns[index]' [fields]='fieldsYarn'
                                                 (filtering)="onFilteringYarnName($event, index)"
                                                [placeholder]='textYarn' [autofill]='autofill' formControlName="yarnId"
                                                (change)='selectYarn($event, row, index)' [errorStateMatcher]="matcher">
                                            </ejs-autocomplete>
                                            <small class="text-danger" *ngIf="row.get('yarnId').hasError('pattern')"
                                                [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger" *ngIf="row.get('yarnId').hasError('required') && (row.get('yarnId').dirty 
                                                || row.get('yarnId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    كود المادة
                                                </mat-label>
                                                <input matInput placeholder="كود المادة" readonly
                                                    formControlName="yarnCode">
                                            </mat-form-field>
                                        </td>

                                        <!-- Lot -->
                                    <td class="table-td" style="max-width: 100px;">
                                        <ejs-autocomplete [dataSource]='fromLots[index]' [fields]='fieldsFromYarnLot' 
                                        (filtering)="onFilteringFromYarnLot($event, index)"
                                        (change)='selectFromYarnLot($event, row, index)'
                                            [placeholder]='textFromYarnLot' [autofill]='autofill'
                                            formControlName="fromYarnLotId"
                                            [errorStateMatcher]="matcher" 
                                            >
                                        </ejs-autocomplete>
                                        <small class="text-danger"
                                        *ngIf="row.get('fromYarnLotId').hasError('pattern')"
                                        [innerHTML]="_sharedComponentService.invalid_message">
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="row.get('fromYarnLotId').hasError('required') && (row.get('fromYarnLotId').dirty 
                                            || row.get('fromYarnLotId').touched)"
                                            [innerHTML]="_sharedComponentService.required_field">
                                        </small>
                                    </td>

                                    <!-- Consigment Yarn -->
                                    <td class="table-td" style="max-width: 120px;">
                                        <ejs-autocomplete [dataSource]='fromConsigmentsYarns[index]' [fields]='fieldsConsigmentYarn' 
                                        (filtering)="onFilteringConsigmentYarn($event, index)"
                                        (change)='selectConsigmentYarn($event, row, index)'
                                            [placeholder]='textConsigmentYarn' [autofill]='autofill'
                                            formControlName="fromConsigmentYarnId"
                                            [errorStateMatcher]="matcher" 
                                            >
                                        </ejs-autocomplete>
                                        <small class="text-danger"
                                        *ngIf="row.get('fromConsigmentYarnId').hasError('pattern')"
                                        [innerHTML]="_sharedComponentService.invalid_message">
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="row.get('fromConsigmentYarnId').hasError('required') && (row.get('fromConsigmentYarnId').dirty 
                                            || row.get('fromConsigmentYarnId').touched)"
                                            [innerHTML]="_sharedComponentService.required_field">
                                        </small>
                                    </td>

                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label> 
                                                    الكمية المتوفرة
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="الكمية المتوفرة" value="{{currentQuantity[index]}}" readonly>
                                            </mat-form-field>
                                        </td>
                                     

                                        <!-- Quantity -->
                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>الكمية</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="quantity"
                                                    placeholder="مثال: 12000" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                    (change)="validate(row, index)" required />
                                                <mat-error class="text-danger"
                                                    *ngIf="row.get('quantity').hasError('incorrect')">
                                                    الكمية المدخلة غير متوفرة
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('required') && (row.get('quantity').dirty 
                                                    || row.get('quantity').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
   
                                        <!-- Price -->
                                        <td class="table-td" style="max-width: 80px"
                                        *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[2])">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر</mat-label>
                                                <input type="text" matInput formControlName="price" required placeholder="مثال: 15" [matAutocomplete]="autoGroup"
                                                (change)="changePrice('priceEG', row)"
                                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                <mat-autocomplete #autoGroup="matAutocomplete">
                                                    <ng-container *ngFor="let item of listYarnPrices[index]; let i = index">
                                                        <mat-optgroup [label]="groupPrices[i]" (click)="changePrice('priceEG', row)"
                                                        [disabled]="groupPrices[i].disabled">
                                                            <mat-option value="{{item | number}}">
                                                                {{item | number}}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </ng-container>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="row.get('price').hasError('required') && (row.get('price').dirty 
                                                                                            || row.get('price').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('price').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('price').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
   
                                        <!-- priceDollar -->
                                        <td class="table-td" style="max-width: 80px"
                                        *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[2])">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر دولار</mat-label>
                                                <input type="text" matInput formControlName="priceDollar" required placeholder="مثال: 15" [matAutocomplete]="autoGroup2"
                                                (change)="changePrice('priceDollar', row)"    
                                                oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                <mat-autocomplete #autoGroup2="matAutocomplete">
                                                    <ng-container *ngFor="let item of listYarnPricesDollar[index]; let i = index">
                                                        <mat-optgroup [label]="groupPrices[i]" (click)="changePrice('priceDollar', row)"
                                                        [disabled]="groupPrices[i].disabled">
                                                            <mat-option value="{{item | number}}">
                                                                {{item | number}}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </ng-container>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="row.get('priceDollar').hasError('required') && (row.get('priceDollar').dirty 
                                                                                            || row.get('priceDollar').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('priceDollar').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('priceDollar').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- new consigment Yarn Number -->
                                        <td style="max-width: 120px;">
                                            <ejs-autocomplete [dataSource]='toConsigmentsYarns' [fields]='fieldsToConsigmentYarn' 
                                        (filtering)="onFilteringToConsigmentYarn($event, index)"
                                        (change)='selectToConsigmentYarn($event, row, index)'
                                        [placeholder]='textToConsigmentYarn' [autofill]='autofill'
                                            formControlName="newConsigmentYarnNumber"
                                            [errorStateMatcher]="matcher" 
                                            >
                                        </ejs-autocomplete>
                                        <small class="text-danger"
                                        *ngIf="row.get('newConsigmentYarnNumber').hasError('pattern')"
                                        [innerHTML]="_sharedComponentService.invalid_message">
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="row.get('newConsigmentYarnNumber').hasError('required') && (row.get('newConsigmentYarnNumber').dirty 
                                            || row.get('newConsigmentYarnNumber').touched)"
                                            [innerHTML]="_sharedComponentService.required_field">
                                        </small>
                                        </td>

                                        <!-- Lot -->
                                        <td class="table-td" style="max-width: 100px;">
                                            <ejs-autocomplete [dataSource]='lots[index]' [fields]='fieldsLot' 
                                            (filtering)="onFilteringLot($event, index)"
                                                [placeholder]='textLot' [autofill]='autofill'
                                                formControlName="yarnLotCode"
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('yarnLotCode').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('yarnLotCode').hasError('required') && (row.get('yarnLotCode').dirty 
                                                || row.get('yarnLotCode').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <!-- Document -->
                                        <td style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>الوثيقة</mat-label>
                                                <input autocomplete="off" type="text" matInput formControlName="document"
                                                    placeholder="مثال: 10214" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error *ngIf="row.get('document').hasError('required') && (row.get('document').dirty 
                                                || row.get('document').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('document').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('document').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- Statement -->
                                        <td>
                                            <mat-form-field class="w-100">
                                                <mat-label> البيان </mat-label>
                                                <textarea matInput rows="1" matTextareaAutosize 
                                                     placeholder="البيان"
                                                    formControlName="statement"></textarea>
                                                <mat-error *ngIf="row.get('statement').hasError('invalid') && (row.get('statement').dirty 
                                                    || row.get('statement').touched)">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('statement').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td>
                                            <button *ngIf="index !== 0" class="btn-del-item"
                                                (click)="removeItem(index)">
                                                -
                                            </button>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                  <td>الاجمالي</td>
                                
                                  <td colspan="7"></td>
                                  <td>{{_sharedComponentService.getTotalQuantityForm(addtransitionIndustriesRequisitionForm, 'items', 'quantity') | number}}</td>
                                  <td colspan="2"style="max-width: 120px;"
                                  *ngIf="_sessionManagerService.checkAuth(_constantsService.ROUTING_LINKS_DETAILS[2])" >
                                    </td>
                                  <td colspan="5"></td>
                                </tr>
                              </tfoot>

                        </table>

                    </div>
                </div>
            </div>

            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto g-0">
                    <div class="col">
                        <button type="submit" class="btn-style submit-btn">إضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>