<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">إسترجاع الخيوط</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <div [class]="_sharedComponentService.subMainPageFormClass">
            <!-- Form Body -->
            <div [class]="_sharedComponentService.gridForm2Class">
                <div class="col">
                    <div [class]="_sharedComponentService.tableSectionClass">
                        <mat-form-field class="w-100" appearance="outline">
                            <input matInput [(ngModel)]="filter" (keyup)="applyFilter($any($event.target).value)"
                                placeholder="بحث" />
                        </mat-form-field>
                        
                        <div class="example-table-container">

                        <table mat-table matSort #sortColumns="matSort" [dataSource]="dataSourceSearchTabel"
                            [class]="_sharedComponentService.tableStyleClass">

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        (change)="selectAll()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" style="width: 5%;">
                                    <mat-checkbox (click)="getSelectedIndex(row)" (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>اسم الخيط</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.name }}
                                </td>
                            </ng-container>

                            <!-- Code Column -->
                            <ng-container matColumnDef="code">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>الكود</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.code }}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Buttons Section -->
        <div [class]="_sharedComponentService.btnSectionClass">
            <div class="row row-cols-auto">
                <div class="col">
                    <button [disabled]="selectedData.length < 1" (click)="restore()" type="submit"
                        class="btn-style submit-btn">إسترجاع</button>
                </div>
            </div>
        </div>
    </div>
</section>