<section [id]="_sharedComponentService.pageId()">
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div id="update-form" [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="anointedServicesForm" (ngSubmit)="onUpdate()">
            <div [class]="_sharedComponentService.subMainPageFormClass">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridFormClass">
                   <!-- Name -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label>خدمة المصبغة*</mat-label>
                            <input type="text" matInput formControlName="name" placeholder="مثال: خدمة الطباعة"
                                [errorStateMatcher]="matcher" />
                            <mat-error *ngIf="!anointedServicesForm.controls['name'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="anointedServicesForm.controls['name'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="anointedServicesForm.controls['name'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Buttons Section -->
                <div [class]="_sharedComponentService.btnSectionClass">
                    <div class="row row-cols-auto">
                        <div class="col">
                            <button type="submit" class="btn-style submit-btn">تعديل</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>