<section [id]="_sharedComponentService.pageId()">
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div id="update-form" [class]="_sharedComponentService.mainPageFormClass">
        <form [formGroup]="inputManufacturedWbForm" (ngSubmit)="onUpdate()">
            <div [class]="_sharedComponentService.subMainPageFormClass">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridFormClass">

                    <!-- Status -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-form-field w-100">
                        <mat-label>الحالة</mat-label>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let status of manufacturingStatus" 
                            [value]="status.value">
                            {{status.name}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>

                     <!-- note -->
                     <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> الملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="الملاحظات" formControlName="note"></textarea>
                                <mat-error *ngIf="inputManufacturedWbForm.controls['note'].hasError('pattern')">
                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                    </label>
                                </mat-error>
                        </mat-form-field>
                    </div>

                </div>

            </div>

            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto">
                    <div class="col">
                        <button type="submit" class="btn-style submit-btn">تعديل</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
