<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">اذن مرتجع صرف اقمشة مصبوغة</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <div [class]="_sharedComponentService.gridForm2Class">
            <app-current-stock-report-we #currentStockReport (parentFun)="getSelectedIndex($event)">
            </app-current-stock-report-we>
        </div>

        <form [formGroup]="returnSellRequisitionForm" (ngSubmit)="onReturnSellRequisition()">
            <div [class]="_sharedComponentService.subMainPageForm2Class">
                <!-- Form Body -->
                <div [class]="_sharedComponentService.gridForm3Class">
                    <div class="col">
                        <!-- Date -->
                        <mat-form-field appearance="outline" class="example-form-field">
                            <mat-label>التاريخ</mat-label>
                            <input [disabled]="true" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle [disabled]="false" matSuffix [for]="datepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker [disabled]="false" #datepicker>

                            </mat-datepicker>
                            <mat-error *ngIf="!returnSellRequisitionForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="returnSellRequisitionForm.controls['date'].hasError('required')">
                                <label [innerHTML]="_sharedComponentService.required_field">
                                </label>
                            </mat-error>
                            <mat-error *ngIf="returnSellRequisitionForm.controls['date'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_pattern_1">
                                </label>
                            </mat-error>
                        </mat-form-field>


                    </div>

                    <!-- Seller -->
                    <div class="col">
                        <ejs-autocomplete [dataSource]='sellers' [fields]='fieldsSeller' class="ejs-autocomplete"
                            (filtering)="onFilteringSeller($event)" [placeholder]='textSeller' [autofill]='autofill'
                            formControlName="sellerId" (change)="selectSeller($event)" style="width: 260px;">
                        </ejs-autocomplete>
                        <small class="text-danger"
                            *ngIf="returnSellRequisitionForm.controls.sellerId.hasError('pattern')"
                            [innerHTML]="_sharedComponentService.invalid_message">
                        </small>
                        <small class="text-danger"
                            *ngIf="returnSellRequisitionForm.controls.sellerId.hasError('required') && (returnSellRequisitionForm.controls.sellerId.dirty 
                                                                                    || returnSellRequisitionForm.controls.sellerId.touched)"
                            [innerHTML]="_sharedComponentService.required_field">
                        </small>
                    </div>

                    <!-- Note -->
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width w-100">
                            <mat-label> ملاحظات </mat-label>
                            <textarea matInput rows="1" matTextareaAutosize 
                                 placeholder="ملاحظات" formControlName="note"></textarea>
                            <mat-error *ngIf="returnSellRequisitionForm.controls['note'].hasError('pattern')">
                                <label [innerHTML]="_sharedComponentService.invalid_message">
                                </label>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Form Builder Section -->
                <div class="row row-cols-1">
                    <div class="col">
                        <table class="table table-style table-sm table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="width: 30px;">
                                        التسلسل
                                    </th>

                                    <th style="width: 180px;">
                                        المخزن
                                    </th>

                                    <th style="width: 150px;">
                                        اسم القماش
                                    </th>

                                    <th style="max-width: 80px;">
                                        كود المادة
                                    </th>

                                    <th style="max-width: 120px;">
                                        فئة اللون
                                    </th>

                                    <th style="max-width: 100px;">
                                        اللون
                                    </th>

                                    <th style="max-width: 80px;">
                                        كود اللون
                                    </th>

                                    <th style="max-width: 80px">
                                        السعر
                                    </th>

                                    <th style="max-width: 80px">
                                        السعر دولار
                                    </th>

                                    <th style="max-width: 80px;">
                                        الكمية المتوفرة
                                    </th>

                                    <th style="max-width: 90px;">
                                        الكمية
                                    </th>

                                    <th style="max-width: 100px;">
                                        الاجمالي
                                    </th>

                                    <th style="max-width: 100px;">
                                        الاجمالي دولار
                                    </th>

                                    <th>
                                        عدد الاثواب
                                    </th>

                                    <th>
                                        أمر الشغل
                                    </th>

                                    <th>
                                        سبب المرتجع
                                    </th>

                                    <th>
                                        عيب بضاعة
                                    </th>
                                </tr>
                            </thead>
                            <tbody formArrayName="items">
                                <tr *ngFor="let row of getItem(returnSellRequisitionForm);let index = index;">
                                    <ng-container [formGroupName]="index">
                                        <td>
                                            <label style="width: 5px;">{{index+1}}</label>
                                        </td>

                                        <td class="table-td" style="width: 180px;">
                                            <ejs-autocomplete [dataSource]='warehouses' [fields]='fieldsWarehouse' 
                                            (filtering)="onFilteringWarehouse($event)"
                                            (change)="selectWarehouse($event, row)"
                                                [placeholder]='textWarehouse' [autofill]='autofill'
                                                formControlName="warehouseId" 
                                                [errorStateMatcher]="matcher" 
                                                >
                                            </ejs-autocomplete>
                                            <small class="text-danger"
                                            *ngIf="row.get('warehouseId').hasError('pattern')"
                                            [innerHTML]="_sharedComponentService.invalid_message">
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="row.get('warehouseId').hasError('required') && (row.get('warehouseId').dirty 
                                                || row.get('warehouseId').touched)"
                                                [innerHTML]="_sharedComponentService.required_field">
                                            </small>
                                        </td>

                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    اسم القماش
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="اسم القماش"
                                                    formControlName="dyedFabricName" readonly>
                                            </mat-form-field>
                                        </td>

                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    كود المادة
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="كود المادة" readonly
                                                    formControlName="dyedFabricCode">
                                            </mat-form-field>
                                        </td>

                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    فئة اللون
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="فئة اللون"
                                                    formControlName="colorCategoryName" readonly>
                                            </mat-form-field>
                                        </td>

                                        <td class="table-td" style="max-width: 100px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    اللون
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="اللون"
                                                    formControlName="colorName" readonly>
                                            </mat-form-field>
                                        </td>

                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    كود اللون
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="كود اللون" readonly
                                                    formControlName="colorCode">
                                            </mat-form-field>
                                        </td>

                                        <!-- Price -->
                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر*</mat-label>
                                                <input type="text" matInput formControlName="price"
                                                    placeholder="مثال: 15" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                    [disabled]="true" readonly />
                                                <mat-error *ngIf="row.get('price').hasError('required') && (row.get('price').dirty 
                                                    || row.get('price').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('price').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- priceDollar -->
                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>السعر دولار</mat-label>
                                                <input type="text" matInput formControlName="priceDollar"
                                                    placeholder="مثال: 15" [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                    [disabled]="true" readonly />
                                                <mat-error *ngIf="row.get('priceDollar').hasError('required') && (row.get('priceDollar').dirty 
                                                    || row.get('priceDollar').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('priceDollar').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td class="table-td" style="max-width: 80px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>
                                                    الكمية المتوفرة
                                                </mat-label>
                                                <input [disabled]="true" matInput placeholder="الكمية المتوفرة"
                                                    formControlName="validQuantity" readonly>
                                            </mat-form-field>
                                        </td>

                                        <!-- Quantity -->
                                        <td class="table-td" style="max-width: 90px;">
                                            <mat-form-field class="example-full-width w-100">
                                                <mat-label>الكمية</mat-label>
                                                <input autocomplete="off" type="text" matInput
                                                    formControlName="quantity" placeholder="مثال: 12000"
                                                    [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^1-90-9.]/g, '').replace(/(\..*?)\..*/g, '$1'); "
                                                    (change)="validate(row)" required />
                                                <mat-error class="text-danger"
                                                    *ngIf="row.get('quantity').hasError('incorrect')">
                                                    الكمية المدخلة غير متوفرة
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('required')">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('required') && (row.get('quantity').dirty 
                                                    || row.get('quantity').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('quantity').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- total -->
                                        <td class="align-middle text-center">
                                            <span>
                                                {{_sharedComponentService.getPriceXQuantity(row.controls['price'].value,
                                                row.controls['quantity'].value) | number}}
                                            </span>
                                        </td>

                                        <!-- total priceDollar -->
                                        <td class="align-middle text-center">
                                            <span>
                                                {{_sharedComponentService.getPriceXQuantity(row.controls['priceDollar'].value,
                                                row.controls['quantity'].value) | number}}
                                            </span>
                                        </td>

                                        <!-- numberFabricPieces -->
                                        <td style="max-width: 60px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>عدد الاثواب</mat-label>
                                                <input autocomplete="off" type="text" matInput
                                                    formControlName="numberFabricPieces" placeholder="مثال: 10"
                                                    [errorStateMatcher]="matcher"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                                                <mat-error
                                                    *ngIf="row.get('numberFabricPieces').hasError('required') && (row.get('numberFabricPieces').dirty 
                                                                                            || row.get('numberFabricPieces').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('numberFabricPieces').hasError('pattern')">
                                                    <label
                                                        [innerHTML]="_sharedComponentService.invalid_pattern_number_only">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- work_order_number -->
                                        <td style="max-width: 120px;">
                                            <mat-form-field class="w-100">
                                                <mat-label>أمر الشغل</mat-label>
                                                <input [disabled]="true" autocomplete="off" type="text" matInput
                                                    formControlName="workOrderNumber" placeholder="مثال: 10214"
                                                    readonly />
                                            </mat-form-field>
                                        </td>

                                        <!-- Statement -->
                                        <td>
                                            <mat-form-field class="w-100">
                                                <mat-label> سبب المرتجع </mat-label>
                                                <textarea matInput rows="1" matTextareaAutosize 
                                                     placeholder="سبب المرتجع"
                                                    formControlName="statement"></textarea>
                                                <mat-error *ngIf="row.get('statement').hasError('invalid') && (row.get('statement').dirty 
                                                || row.get('statement').touched)">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('statement').hasError('pattern')">
                                                    <label [innerHTML]="_sharedComponentService.invalid_message">
                                                    </label>
                                                </mat-error>
                                                <mat-error *ngIf="row.get('statement').hasError('required') && (row.get('statement').dirty 
                                                    || row.get('statement').touched)">
                                                    <label [innerHTML]="_sharedComponentService.required_field">
                                                    </label>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>

                                        <!-- is_defect -->
                                        <td class="table-td" style="max-width: 30px;">
                                            <mat-checkbox style="margin: 5px" (change)="selectIsDefect($event, row)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td>الاجمالي</td>

                                    <td colspan="9"></td>
                                    <td>{{_sharedComponentService.getTotalQuantityForm(returnSellRequisitionForm,
                                        'items', 'quantity') | number}}</td>
                                    <td class="text-center">
                                        {{_sharedComponentService.getTotalPriceXQuantityForm(returnSellRequisitionForm,
                                        'items', 'quantity', 'price') | number}}</td>
                                    <td class="text-center">
                                        {{_sharedComponentService.getTotalPriceXQuantityForm(returnSellRequisitionForm,
                                        'items', 'quantity', 'priceDollar') | number}}</td>
                                    <td colspan="4"></td>
                                </tr>
                            </tfoot>

                        </table>

                    </div>
                </div>
            </div>
            <!-- Buttons Section -->
            <div [class]="_sharedComponentService.btnSectionClass">
                <div class="row row-cols-auto g-0">
                    <div class="col">
                        <button type="submit" [disabled]="returnSellRequisitionForm.controls.items.value.length < 1"
                            class="btn-style submit-btn">إضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>