<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass" id="main-page-title">
            <h2 [class]="_sharedComponentService.TitleTextClass"> طلبية العميل قماش جاهز</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">

        <div [class]="_sharedComponentService.subMainPageFormClass">
            <div class="row row-cols-3">
                <div id="table-header-data" class="col">
                    <table class="table table-style">
                        <tbody>
                            <tr>
                                <th>
                                    رقم الإذن:
                                </th>
                                <td>
                                    {{dyedFabricOrderDetails[0]?.number}}
                                </td>
                            </tr>
                            <tr>
                                <th>التاريخ:</th>
                                <td>{{dyedFabricOrderDetails[0]?.date | date:'EEEE, d/M/y'}}</td>
                            </tr>
                            <tr>
                                <th>العميل:</th>
                                <td>{{dyedFabricOrderDetails[0]?.seller_name}}</td>
                            </tr>
                            <tr>
                                <th>اسم الطلبية:</th>
                                <td>{{dyedFabricOrderDetails[0]?.order_name}}</td>
                            </tr>

                            <tr>
                                <th>الملاحظات:</th>
                                <td>{{dyedFabricOrderDetails[0]?.note}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <div class="btn-export-section">
                        <a
                            (click)="_exportDataService.exportToPDF('table-header-data', dt1?.tableViewChild?.nativeElement?.id, 'طلبية العميل قماش جاهز')">
                            <i title="PDF" class="far fa-file-pdf"></i>
                        </a>

                        <a
                            (click)="_exportDataService.exportToExcel('table-header-data', 'pr_id_1-table', 'طلبية العميل قماش جاهز')">
                            <i title="Excel" class="far fa-file-excel px-2"></i>
                        </a>

                        <a
                            (click)="_exportDataService.print('table-header-data', dt1?.tableViewChild?.nativeElement?.id, 'طلبية العميل قماش جاهز')">
                            <i title="Print" class="fas fa-print pe-2"></i>
                        </a>
                    </div>
                </div>
            </div>


            <!-- Form Body -->
            <div [class]="_sharedComponentService.gridForm2Class">
                <div class="col">
                    <div [class]="_sharedComponentService.tableSectionClass">

                        <div id="table-data">

                                <p-table #dt1 [value]="dyedFabricOrderDetails" dataKey="id" columnResizeMode="expand"
                                    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                                    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [loading]="loading"
                                    responsiveLayout="scroll" scrollHeight="600px" [filterDelay]="0" sortField="date"
                                    [responsive]="true" sortOrder="1" appendTo="body" [autoLayout]="true">
                                    
                                    <!-- Start Filter Section -->
                                    <ng-template data-html2canvas-ignore="true" pTemplate="caption">

                                        <div class="row row-cols-md-5 align-items-center">

                                            <div class="col">
                                                <p-columnFilter field="dyed_fabric_name" matchMode="fabric-name-filter"
                                                    [showMenu]="false" [showClearButton]="false">
                                                    <ng-template pTemplate="filter" let-value
                                                        let-filter="filterCallback">
                                                        <p-multiSelect [ngModel]="selectedFabricNames"
                                                            [options]="_sharedComponentService.uniqueArray(dyedFabricOrderDetails, 'dyed_fabric_name')"
                                                            (onChange)="onMultiselectedFabricNames($event.value)"
                                                            placeholder="البحث بـ نوع القماش الجاهز"
                                                            optionLabel="dyed_fabric_name">
                                                            <ng-template let-option pTemplate="item">
                                                                <div class="p-multiselect-representative-option">
                                                                    <span
                                                                        class="ml-1">{{option.dyed_fabric_name}}</span>
                                                                </div>
                                                            </ng-template>
                                                        </p-multiSelect>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </div>

                                            <div class="col">
                                                <p-columnFilter field="dyed_fabric_code" matchMode="fabric-code-filter"
                                                    [showMenu]="false" [showClearButton]="false">
                                                    <ng-template pTemplate="filter" let-value
                                                        let-filter="filterCallback">
                                                        <p-multiSelect [ngModel]="selectedFabricCodes"
                                                            [options]="_sharedComponentService.uniqueArray(dyedFabricOrderDetails, 'dyed_fabric_code')"
                                                            (onChange)="onMultiselectedFabricCodes($event.value)"
                                                            placeholder="البحث بـ كود القماش الجاهز"
                                                            optionLabel="dyed_fabric_code">
                                                            <ng-template let-option pTemplate="item">
                                                                <div class="p-multiselect-representative-option">
                                                                    <span
                                                                        class="ml-1">{{option.dyed_fabric_code}}</span>
                                                                </div>
                                                            </ng-template>
                                                        </p-multiSelect>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </div>
                                            
                                            <div class="col">
                                                <p-columnFilter field="color_category_name"
                                                    matchMode="color-category-filter" [showMenu]="false"
                                                    [showClearButton]="false">
                                                    <ng-template pTemplate="filter" let-value
                                                        let-filter="filterCallback">
                                                        <p-multiSelect [ngModel]="selectedColorCategories" 
                                                        [options]="_sharedComponentService.uniqueArray(dyedFabricOrderDetails, 'color_category_name')"
                                                            (onChange)="onMultiselectedColorCategory($event.value)"
                                                            placeholder="البحث بـ فئة اللون"
                                                            optionLabel="color_category_name">
                                                            <ng-template let-option pTemplate="item">
                                                                <div class="p-multiselect-representative-option">
                                                                    <span
                                                                        class="ml-1">{{option.color_category_name}}</span>
                                                                </div>
                                                            </ng-template>
                                                        </p-multiSelect>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </div>

                                            <div class="col">
                                                <p-columnFilter field="color_name" matchMode="color-filter"
                                                    [showMenu]="false" [showClearButton]="false">
                                                    <ng-template pTemplate="filter" let-value
                                                        let-filter="filterCallback">
                                                        <p-multiSelect [ngModel]="selectedColors" 
                                                        [options]="_sharedComponentService.uniqueArray(dyedFabricOrderDetails, 'color_name')"
                                                            (onChange)="onMultiselectedColor($event.value)"
                                                            placeholder="البحث بـ اللون" optionLabel="color_name">
                                                            <ng-template let-option pTemplate="item">
                                                                <div class="p-multiselect-representative-option">
                                                                    <span class="ml-1">{{option.color_name}}</span>
                                                                </div>
                                                            </ng-template>
                                                        </p-multiSelect>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </div>

                                            <div class="col">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>اظهار واخفاء العامود</mat-label>
                                                    <mat-select #checkbox placeholder="اظهار واخفاء العامود" multiple>
                                                        <mat-option [value]="item" *ngFor="let item of showHideItems">
                                                            {{item}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                            <div class="col">
                                                <div data-html2canvas-ignore="true" class="flex">
                                                    <button data-html2canvas-ignore="true" pButton label="اعادة"
                                                        class="p-button-outlined" icon="pi pi-filter-slash"
                                                        (click)="clear(dt1)"></button>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End Filter Section -->

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>

                                            <!-- Number Column -->
                                            <th>
                                                التسلسل
                                            </th>

                                            <!-- dyed_fabric_name Column -->
                                            <th pResizableColumn pSortableColumn="dyed_fabric_name">
                                                نوع القماش الجاهز
                                                <p-sortIcon data-html2canvas-ignore="true"
                                                    field="dyed_fabric_name"></p-sortIcon>
                                            </th>

                                            <!-- dyed_fabric_code Column -->
                                            <th pResizableColumn pSortableColumn="dyed_fabric_code">
                                                <div class="flex justify-content-between align-items-center">
                                                    كود القماش الجاهز
                                                    <p-sortIcon data-html2canvas-ignore="true" field="dyed_fabric_code">
                                                    </p-sortIcon>
                                                </div>
                                            </th>

                                            <!-- quantity Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    الكمية المطلوبة
                                                </div>
                                            </th>

                                            <!-- completed_quantity Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    الكمية الجاهزة
                                                </div>
                                            </th>

                                            <!-- current_quantity Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    الكمية المتبقية
                                                </div>
                                            </th>

                                            <!-- over_current_quantity Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    الكمية الزائدة
                                                </div>
                                            </th>

                                            <!-- over_current_quantity_ratio Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    نسبة الكمية الزائدة
                                                </div>
                                            </th>

                                            <!-- color_category_name Column -->
                                            <th pResizableColumn pSortableColumn="color_category_name">
                                                <div class="flex justify-content-between align-items-center">
                                                    فئة اللون
                                                    <p-sortIcon data-html2canvas-ignore="true"
                                                        field="color_category_name">
                                                    </p-sortIcon>
                                                </div>
                                            </th>

                                            <!-- color_name Column -->
                                            <th pResizableColumn pSortableColumn="color_name">
                                                <div class="flex justify-content-between align-items-center">
                                                    اللون
                                                    <p-sortIcon data-html2canvas-ignore="true" field="color_name">
                                                    </p-sortIcon>
                                                </div>
                                            </th>

                                            <!-- waste_ratio Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    نسبة الهالك
                                                </div>
                                            </th>

                                            <!-- fabric_width Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    عرض القماش
                                                </div>
                                            </th>

                                            <!-- fabric_quantity_m2 Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    وزن القماش م2
                                                </div>
                                            </th>

                                            <!-- price Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    السعر
                                                </div>
                                            </th>

                                            <!-- price_dollar Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    السعر (دولار)
                                                </div>
                                            </th>

                                            <!-- note2 Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    الملاحظات
                                                </div>
                                            </th>

                                            <!-- dyedFabricOrderRequisitions Column -->
                                            <th [hidden]="!checkbox?.value?.includes('من اذن')">
                                                <div class="flex justify-content-between align-items-center">
                                                    من اذن
                                                </div>
                                            </th>

                                            <!-- close_order Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    اغلاق الطلبية
                                                </div>
                                            </th>

                                            <!-- update Column -->
                                            <th>
                                                <div class="flex justify-content-between align-items-center">
                                                    تعديل
                                                </div>
                                            </th>

                                        </tr>

                                    </ng-template>
                                    <!-- <ng-template pTemplate="groupfooter" let-element>
                                        <tr class="p-table-group-tr">
                                            <td colspan="1" class="text-right font-bold pr-6">
                                                إجمالي
                                                </td>
                                            <td colspan="17" class="text-right font-bold pr-6">
                                                 الكمية : {{_sharedComponentService.getTotalQuantityWithCondition(dt1.filteredValue == null ?
                                                    dyedFabricOrderDetails: dt1.filteredValue,
                                                    "quantity", "dyed_fabric_code", element.dyed_fabric_code) | number}}
                                            </td>
                                        </tr>
                                    </ng-template> -->
                                    <ng-template pTemplate="body" let-element let-index="rowIndex">
                                        <tr class="p-selectable-row">

                                            <!-- Index Column -->
                                            <td>
                                                {{index + 1}}
                                            </td>

                                            <!-- dyed_fabric_name Column -->
                                            <td>
                                                {{element.dyed_fabric_name}}
                                            </td>

                                            <!-- dyed_fabric_code Column -->
                                            <td>
                                                {{ element.dyed_fabric_code }}
                                            </td>

                                            <!-- quantity Column -->
                                            <td>
                                                {{ element.quantity | number}}
                                            </td>

                                            <!-- completed_quantity Column -->
                                            <td>
                                                {{ element.net_current_quantity | number}} 
                                            </td>

                                            <!-- current_quantity Column -->
                                            <td>
                                                {{ element.current_quantity | number}}
                                            </td>

                                            <!-- over_current_quantity Column -->
                                            <td>
                                                {{ element.over_current_quantity | number}}
                                            </td>

                                            <!-- over_current_quantity_ratio Column -->
                                            <td>
                                                {{ element.over_current_quantity_ratio | number}}%
                                            </td>

                                            <!-- color_category_name Column -->
                                            <td>
                                                {{ element.color_category_name }}
                                            </td>

                                            <!-- color_name Column -->
                                            <td>
                                                {{ element.color_name}} ({{ element.color_code}})
                                            </td>

                                            <!-- waste_ratio Column -->
                                            <td>
                                                {{ element.waste_ratio}}
                                            </td>

                                            <!-- fabric_width Column -->
                                            <td>
                                                {{ element.fabric_width}}
                                            </td>

                                            <!-- fabric_quantity_m2 Column -->
                                            <td>
                                                {{ element.fabric_quantity_m2}}
                                            </td>

                                            <!-- price Column -->
                                            <td>
                                                {{ element.price | number }}
                                            </td>

                                            <!-- price_dollar Column -->
                                            <td>
                                                {{ element.price_dollar | number }}
                                            </td>

                                            <!-- note2 Column -->
                                            <td>
                                                {{ element.note2 }}
                                            </td>

                                            <!-- dyedFabricOrderRequisitions Column -->
                                            <td [hidden]="!checkbox.value?.includes('من اذن')">
                                                <table class="w-100">
                                                    <tbody>
                                                        <tr *ngFor="let dyedFabricOrderRequisition of element.dyedFabricOrderRequisitions">
                                                            <a [routerLink]="[goToRequisitionPage(dyedFabricOrderRequisition?.type_of_requisition, dyedFabricOrderRequisition)]"
                                                                    [queryParams]="{id: dyedFabricOrderRequisition?.requisition_id}">
                                                            <td>{{dyedFabricOrderRequisition.type_of_requisition}}</td>
                                                            <td>
                                                                
                                                                    ({{ dyedFabricOrderRequisition.number}})
                                                            </td>
                                                        </a>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>

                                            <!-- close_order Column -->
                                            <td>
                                                <p-confirmPopup></p-confirmPopup>
                                                <a *ngIf="router.url.split('/')[3].split('?')[0] != 'closed-details'"
                                                    (click)="confirm($event, element)">
                                                    <i class="fas fa-edit update-symbol"></i>
                                                </a>
                                            </td>

                                            <!-- update Column -->
                                            <td>
                                                <a onClick="document.getElementById('update-form').scrollIntoView();"
                                                    (click)="getSelectedData(element)">
                                                    <i class="fas fa-edit update-symbol"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    </ng-template>
                                    <ng-template data-html2canvas-ignore="true" pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="18">لا يوجد بيانات</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <!-- Index Column -->
                                            <td data-html2canvas-ignore="true"></td>

                                            <!-- dyed_fabric_name Column -->
                                            <td>الإجمالي</td>

                                            <!-- dyed_fabric_code Column -->
                                            <td></td>
                                            
                                            <!-- quantity Column -->
                                            <td>
                                                {{_sharedComponentService.getTotalQuantity(dt1?.filteredValue
                                                    ==
                                                    null ? dyedFabricOrderDetails:
                                                    dt1?.filteredValue,
                                                'quantity') | number}}
                                            </td>

                                            <!-- completed_quantity Column -->
                                            <td>
                                                {{
                                                _sharedComponentService.getTotalQuantity(dt1?.filteredValue
                                                ==
                                                null ? dyedFabricOrderDetails:
                                                dt1?.filteredValue, 'net_current_quantity') | number
                                                }}
                                            </td>

                                            <!-- current_quantity Column -->
                                            <td>
                                                {{_sharedComponentService.getTotalQuantity(dt1?.filteredValue
                                                    ==
                                                    null ? dyedFabricOrderDetails:
                                                    dt1?.filteredValue,
                                                'current_quantity') | number}}

                                            </td>

                                            <!-- over_current_quantity Column -->
                                            <td>
                                                {{_sharedComponentService.getTotalQuantity(dt1?.filteredValue
                                                    ==
                                                    null ? dyedFabricOrderDetails:
                                                    dt1?.filteredValue,
                                                'over_current_quantity') | number}}

                                            </td>

                                            <!-- over_current_quantity_ratio Column -->
                                            <td>

                                            </td>

                                            <!-- color_category_name Column -->
                                            <td>

                                            </td>

                                            <!-- color_name Column -->
                                            <td>

                                            </td>

                                            <!-- waste_ratio Column -->
                                            <td>

                                            </td>

                                            <!-- fabric_width Column -->
                                            <td>

                                            </td>

                                            <!-- fabric_quantity_m2 Column -->
                                            <td>

                                            </td>

                                            <!-- price Column -->
                                            <td>

                                            </td>

                                            <!-- price_dollar Column -->
                                            <td>

                                            </td>

                                            <!-- note2 Column -->
                                            <td>

                                            </td>

                                            <!-- dyedFabricOrderRequisitions Column -->
                                            <td [hidden]="!checkbox?.value?.includes('من اذن')">

                                            </td>

                                            <!-- close_order Column -->
                                            <td>

                                            </td>

                                            <!-- update Column -->
                                            <td>

                                            </td>

                                        </tr>
                                    </ng-template>
                                </p-table>

                        </div>

                        <!-- <mat-paginator #paginator [pageSize]="1000" [pageSizeOptions]="[5, 10, 20, 50, 100, 500, 1000]"
                            showFirstLastButtons (page)="_sharedComponentService.getServerData($event)">
                        </mat-paginator> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- Buttons Section -->
        <div *ngIf="!showAddDetails" [class]="_sharedComponentService.btnSectionClass">
            <div class="row row-cols-auto">
                <div class="col">
                    <button (click)="showAddDetailsFunc()" type="button" class="btn-style submit-btn">اضافة
                        بيانات</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- *ngIf="showInputUpdate" -->
<app-dyed-fabric-order-requisition-update-we *ngIf="showInputUpdate" [selectedData]="selectedDataToUpdate"
    #updateOrder></app-dyed-fabric-order-requisition-update-we>
<app-dyed-fabric-order-requisition-add-details-form-we
    *ngIf="showAddDetails"></app-dyed-fabric-order-requisition-add-details-form-we>