<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <!-- Title Page Section -->
    <div [class]="_sharedComponentService.titlePageClass">
        <!-- Sub Title Page -->
        <div [class]="_sharedComponentService.subTitlePageClass" id="main-page-title">
            <h2 [class]="_sharedComponentService.TitleTextClass">اذن تسليم مباشر قماش الجاهز</h2>
        </div>
    </div>
    <!-- Form Section -->
    <!-- Main Page Form -->
    <div [class]="_sharedComponentService.mainPageFormClass">
        <div [class]="_sharedComponentService.subMainPageFormClass">
            <div class="row row-cols-3">
                <div id="table-header-data" class="col">
                    <table class="table table-style">
                        <tbody>
                            <tr>
                                <th>
                                    رقم الإذن:
                                </th>
                                <td>
                                    {{sellRequisitionDetails[0]?.number}}
                                </td>
                            </tr>
                            <tr>
                                <th>التاريخ:</th>
                                <td>{{sellRequisitionDetails[0]?.date | date:'EEEE, d/M/y'}}</td>
                            </tr>
                            <tr>
                                <th>العميل:</th>
                                <td>{{sellRequisitionDetails[0]?.seller_name}}</td>
                            </tr>
                            <tr>
                                <th>اسم السائق:</th>
                                <td>{{sellRequisitionDetails[0]?.delivery_car_name}}</td>
                            </tr>

                            <tr>
                                <th>الملاحظات:</th>
                                <td>{{sellRequisitionDetails[0]?.note}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <div class="btn-export-section">
                        <a
                            (click)="_exportDataService.exportToPDF('table-header-data', 'table-data', 'اذن تسليم مباشر قماش الجاهز', 'table-data-2')">
                            <i title="PDF" class="far fa-file-pdf"></i>
                        </a>

                        <a (click)="_exportDataService.exportToExcel('table-header-data', 'table-data', 'اذن تسليم مباشر قماش الجاهز', 'table-data-2')">
                            <i title="Excel" class="far fa-file-excel px-2"></i>
                        </a>
                        
                        <a
                        (click)="_exportDataService.print('table-header-data', 'table-data', 'اذن تسليم مباشر قماش الجاهز', 'table-data-2', 'table-data-3')">
                        <i title="Print" class="fas fa-print pe-2"></i>
                    </a>
                    </div>
                </div>
            </div>

            <!-- Form Body -->
            <div [class]="_sharedComponentService.gridForm2Class">
                <div class="col">
                    <div [class]="_sharedComponentService.tableSectionClass">
                        <mat-form-field class="w-100" appearance="outline">
                            <input matInput [(ngModel)]="filter" (keyup)="applyFilter($any($event.target).value)"
                                placeholder="بحث" />
                        </mat-form-field>

                        <div class="example-table-container">
                        <table id="table-data" mat-table matSort #sortColumns="matSort"
                            [dataSource]="dataSourceSearchTabel" [class]="_sharedComponentService.tableStyleClass">

                            <!-- Index Column -->
                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef><b> تسلسل </b></th>
                                <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
                                <td mat-footer-cell *matFooterCellDef> <b> الإجمالي </b> </td>
                            </ng-container>

                            <!-- warehouse_name Column -->
                            <ng-container matColumnDef="warehouse_name">
                                <th data-html2canvas-ignore="true" mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>المخزن</b>
                                </th>
                                <td data-html2canvas-ignore="true" mat-cell *matCellDef="let element">
                                    {{ element.warehouse_name }}
                                </td>
                                <td data-html2canvas-ignore="true" mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- dyed_fabric_name Column -->
                            <ng-container matColumnDef="dyed_fabric_name">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>القماش</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.dyed_fabric_name }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- dyed_fabric_code Column -->
                            <ng-container matColumnDef="dyed_fabric_code">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>كود المادة</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.dyed_fabric_code }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- Color Category Column -->
                            <ng-container matColumnDef="color_category_name">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>فئة اللون</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.color_category_name }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="color_name">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>اللون</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.color_name }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- color_code Column -->
                            <ng-container matColumnDef="color_code">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>كود اللون</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.color_code }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- price Column -->
                            <!-- <ng-container matColumnDef="price">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>السعر</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.price }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container> -->

                            <!-- quantity Column -->
                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>الكمية</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.quantity | number}}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> {{getTotalQuantity() | number}} </td>
                            </ng-container>

                            <!-- Total Column -->
                            <!-- <ng-container matColumnDef="total">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b><b> الإجمالي </b></b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{getPriceXQuantity(element.price, element.quantity) | number}}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> {{getTotalPriceXQuantity() | number}} </td>
                            </ng-container> -->

                            <!-- fabric_piece Column -->
                            <ng-container matColumnDef="fabric_piece">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>عدد الأثواب</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.fabric_piece}}
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    {{_sharedComponentService.getTotalCollectSum(dataSourceSearchTabel.filteredData, 'fabric_piece') | number}}
                                </td>
                            </ng-container>

                            <!-- work order number Column -->
                            <ng-container matColumnDef="work_order_number">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>امر الشغل</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.work_order_number }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- document Column -->
                            <ng-container matColumnDef="document">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>الوثيقة</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.document }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- statement Column -->
                            <ng-container matColumnDef="statement">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    <b>البيان</b>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.statement }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!-- Update Column -->
                            <ng-container matColumnDef="update">
                                <th data-html2canvas-ignore="true" mat-header-cell *matHeaderCellDef>
                                    <b>تعديل</b>
                                </th>
                                <td data-html2canvas-ignore="true" mat-cell *matCellDef="let row">
                                    <a *ngIf="row.is_direct == '1'" onClick="document.getElementById('update-form').scrollIntoView();"
                                        (click)="getSelectedData(row)">
                                        <i class="fas fa-edit update-symbol"></i>
                                    </a>
                                </td>
                                <td data-html2canvas-ignore="true" mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            <tr mat-footer-row *matFooterRowDef="displayedColumns;"></tr>
                        </table>
                    </div>

                        <table id="table-data-2" class="table mt-4" style="margin: 0;">
                            <thead>
                              <tr> 
                                <th style="border: 1px solid #000; text-align: center;" rowspan="3">
                                    <div style="display: flex; margin-block: 50%; justify-content: center; font-size: 20px; padding-inline: 10px;">ملاحظات:</div></th>
                                <td style="border: 1px solid #000; text-align: center; font-size: 20px;">
                                    <div style="padding: 10px 5px;">1</div> 
                                </td>
                                <td style="border-top: 1px solid;
                                border-bottom: 1px solid;
                                border-inline-start: 1px solid; 
                                font-size: 20px;
                                padding-inline: 10px;">
                                برجاء مراجعة الأوزان عند الإستلام والرجوع للمخازن في حالة النقص او الزياده خلال 24 ساعة.
                            </td>
                                <td style="border-top: 1px solid;
                                border-bottom: 1px solid;
                                border-inline-end: 1px solid;" colspan="3"></td>
                              </tr>
                              <tr>
                                <td style="border: 1px solid #000; text-align: center; font-size: 20px;">
                                    <div style="padding: 10px 5px;">2</div> 
                                </td>
                                <td style="border-top: 1px solid;
                                border-bottom: 1px solid;
                                border-inline-start: 1px solid;
                                font-size: 20px;
                                padding-inline: 10px;">
                                الشركة غير مسؤولة عن القماش في حالة القص واعتماد الوزن.
                            </td>

                                <td style="border-top: 1px solid;
                                border-bottom: 1px solid;
                                border-inline-end: 1px solid;" colspan="3"></td>
                              </tr>
                              <tr>
                                <td style="border: 1px #000 solid; text-align: center; width: 100%" colspan="4">
                                    <div style="padding: 25px 0px; width: 100%;">
                                        <u>
                                            رقم الهاتف: 01281443507 مواعيد العمل الساعة الثامنة صباحا حتى الرابعة مساء
                                        </u>
                                    </div>
                                </td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="border: 1px solid #000;">
                                <td style="border: 1px solid #000;" colspan="5">
                                    <div style="padding: 30px 0px; display: flex; justify-content: space-around;">
                                    <div>
                                        أمين المخزن
                                    </div>
                                    <div>
                                        <u>
                                            عبدالحميد نبيل
                                        </u>
                                    </div>
                                    </div>
                                </td>
                              </tr>
                              
                            </tbody>
                            </table>
                            <table id="table-data-3" class="table">
                                <tbody class="w-100">
                                    <tr style="border: 1px solid #000;">
                                        <th style="border: 1px solid #000; width: 140px; font-size: 20px;">السيارة:<br></th>
                                        <td style="border: 1px solid #000; width: 35%;" colspan="2"></td>
                                        <td style="border: 1px solid #000; width: 140px;"></td>
                                        <td style="border: 1px solid #000; width: 35%;"></td>
                                      </tr>
                                      <tr style="border: 1px solid #000;">
                                        <th style="border: 1px solid #000; width: 140px; font-size: 20px;">رخصة النقل:</th>
                                        <td style="border: 1px solid #000; width: 35%;" colspan="2"></td>
                                        <th style="border: 1px solid #000; width: 140px; font-size: 20px;">اسم المستلم:</th>
                                        <td style="border: 1px solid #000; width: 35%;"></td>
                                      </tr>
                                      <tr style="border: 1px solid #000;">
                                        <th style="border: 1px solid #000; width: 140px; font-size: 20px;">بطاقة رقم:</th>
                                        <td style="border: 1px solid #000; width: 35%;" colspan="2"></td>
                                        <th style="border: 1px solid #000; width: 140px; font-size: 20px;">التوقيع:</th>
                                        <td style="border: 1px solid #000; width: 35%;"></td>
                                      </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Buttons Section -->
        <div *ngIf="!showAddDetails" [class]="_sharedComponentService.btnSectionClass">
            <div class="row row-cols-auto">
                <div class="col">
                    <button (click)="showAddDetailsFunc()" type="button" class="btn-style submit-btn">اضافة
                        بيانات</button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-update-sell-requisition-direct-we *ngIf="showInputUpdate" [selectedData]="selectedDataToUpdate">
</app-update-sell-requisition-direct-we>
<app-add-sell-requisition-direct-form-we *ngIf="showAddDetails"></app-add-sell-requisition-direct-form-we>