<section [id]="_sharedComponentService.pageId()" [class]="_sharedComponentService.sectionClass">
    <div [class]="_sharedComponentService.titlePageClass">
        <div [class]="_sharedComponentService.subTitlePageClass">
            <h2 [class]="_sharedComponentService.TitleTextClass">إظهار جميع اذونات التصنيع</h2>
        </div>
    </div>

    <div [class]="_sharedComponentService.mainPageFormClass">
        <div [class]="_sharedComponentService.subMainPageFormClass">
            <div [class]="_sharedComponentService.gridForm2Class">
                
                <div class="col">
<!-- External Filters -->
                            <div *ngIf="showFilters" class="row row-cols-md-5 g-2 mb-2 ext-filters-row">

                                <div class="col">
                                    <label class="filter-label">التاريخ</label>
                                    <p-calendar class="w-100" placeholder="اختر فترة"
                                        [(ngModel)]="externalDateFilters"
                                        appendTo="body" selectionMode="range"
                                        [readonlyInput]="true" [showIcon]="true"
                                        [showButtonBar]="true" dateFormat="dd/mm/yy"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onClearClick)="applyFiltersToGrid()">
                                    </p-calendar>
                                </div>

                                <div class="col">
                                    <label class="filter-label">المصنع</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalManufactureName"
                                        [suggestions]="filteredManufactureNames"
                                        (completeMethod)="filterManufactureNames($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالمصنع..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">العميل</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalSellerName"
                                        [suggestions]="filteredSellerNames"
                                        (completeMethod)="filterSellerNames($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالعميل..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">حالة الجودة</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalStatusName"
                                        [suggestions]="filteredStatusNames"
                                        (completeMethod)="filterStatusNames($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالحالة..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">الاستلام</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalIsApprovedStatusName"
                                        [suggestions]="filteredIsApprovedStatusNames"
                                        (completeMethod)="filterIsApprovedStatusNames($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالاستلام..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">كود القماش</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalFabricCode"
                                        [suggestions]="filteredFabricCodes"
                                        (completeMethod)="filterFabricCodes($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالكود..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">اسم القماش</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalFabricName"
                                        [suggestions]="filteredFabricNames"
                                        (completeMethod)="filterFabricNames($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث باسم القماش..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">الماكينة</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalMachineName"
                                        [suggestions]="filteredMachineNames"
                                        (completeMethod)="filterMachineNames($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالماكينة..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">الطلبية</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalWcOrderName"
                                        [suggestions]="filteredWcOrderNames"
                                        (completeMethod)="filterWcOrderNames($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالطلبية..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">رقم الطلبية</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalOrderNumber"
                                        [suggestions]="filteredOrderNumbers"
                                        (completeMethod)="filterOrderNumbers($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث برقم الطلبية..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">الايصال</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalDocument"
                                        [suggestions]="filteredDocuments"
                                        (completeMethod)="filterDocuments($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true"
                                        [minLength]="0"
                                        placeholder="ابحث بالايصال..."
                                        appendTo="body"
                                        scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">أصل الكمية</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalQuantity"
                                        [suggestions]="filteredQuantities"
                                        (completeMethod)="filterQuantities($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true"
                                        [minLength]="0"
                                        placeholder="ابحث بالكمية..."
                                        appendTo="body"
                                        scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">الملاحظات</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalNote"
                                        [suggestions]="filteredNotes"
                                        (completeMethod)="filterNotes($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالملاحظات..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">الشحنة</label>
                                    <p-autoComplete class="w-100 ac-filter"
                                        [(ngModel)]="externalConsigmentNumber"
                                        [suggestions]="filteredConsigmentNumbers"
                                        (completeMethod)="filterConsigmentNumbers($event)"
                                        (onSelect)="applyFiltersToGrid()"
                                        (onUnselect)="applyFiltersToGrid()"
                                        [multiple]="true" [minLength]="0"
                                        placeholder="ابحث بالشحنة..." appendTo="body" scrollHeight="200px">
                                    </p-autoComplete>
                                </div>

                                <div class="col">
                                    <label class="filter-label">&nbsp;</label>
                                    <button pButton type="button" label="إعادة" icon="pi pi-filter-slash"
                                        class="p-button-outlined w-100"
                                        (click)="clearAg()">
                                    </button>
                                </div>

                            </div>
                            <!-- End External Filters -->
                </div>

                <div class="col">
                    <div [class]="_sharedComponentService.tableSectionClass">
                        <div id="table-header-data-report" dir="rtl" [ngStyle]="containerStyle">

                            

                            <div class="grid-toolbar">
                                <button class="btn-toggle-filters"
                                    [class.btn-toggle-filters--active]="showFilters"
                                    (click)="toggleFilters()"
                                    title="إظهار/إخفاء الفلاتر">
                                    <i class="fa-solid" [class.fa-filter]="!showFilters" [class.fa-filter-slash]="showFilters"></i>
                                    <span>{{ showFilters ? 'إخفاء الفلاتر' : 'إظهار الفلاتر' }}</span>
                                </button>
                                <button *ngIf="isFiltered"
                                    class="btn-reset-filter btn-reset-filter--active"
                                    (click)="clearAg()"
                                    title="إعادة تعيين جميع الفلاتر">
                                    <i class="fa-solid fa-filter-circle-xmark"></i>
                                    <span>إعادة الفلتر</span>
                                </button>
                                <span class="total-count">إجمالي السجلات: {{ totalRows | number }}</span>
                            </div>

                            <p-confirmPopup></p-confirmPopup>

                            <!-- PrimeNG Table -->
                            <p-table
                                [value]="rows"
                                [lazy]="true"
                                [lazyLoadOnInit]="true"
                                [totalRecords]="totalRows"
                                [paginator]="true"
                                [rows]="tableRows"
                                [rowsPerPageOptions]="[25, 50, 100, 200]"
                                [first]="tableFirst"
                                (onLazyLoad)="loadData($event)"
                                [loading]="loading"
                                [scrollable]="true"
                                scrollHeight="flex"
                                [resizableColumns]="true"
                                columnResizeMode="expand"
                                styleClass="p-datatable-sm p-datatable-gridlines wb-main-table"
                                [tableStyle]="{'min-width': '70rem'}"
                                paginatorPosition="bottom"
                                currentPageReportTemplate="من {first} إلى {last} من أصل {totalRecords}"
                                [showCurrentPageReport]="true">

                                <!-- HEADER -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pResizableColumn pSortableColumn="number" style="width:80px">رقم الإذن <p-sortIcon field="number"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="date" style="width:100px">تاريخ الإذن <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="manufacture_name" style="width:120px">اسم المصنع <p-sortIcon field="manufacture_name"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="wc_fabric_order_requisition_name" style="width:130px">طلبية <p-sortIcon field="wc_fabric_order_requisition_name"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="circular_knitting_machine_name" style="width:120px">الماكينة <p-sortIcon field="circular_knitting_machine_name"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="fabric_code" style="width:90px">كود القماش <p-sortIcon field="fabric_code"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="fabric_name" style="width:120px">اسم القماش <p-sortIcon field="fabric_name"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="fabric_piece" style="width:110px">الاثواب <p-sortIcon field="fabric_piece"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="quantity" style="width:110px">الكمية <p-sortIcon field="quantity"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="current_quantity" style="width:110px">الباقي <p-sortIcon field="current_quantity"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="storage_place" style="width:80px">الاستاند <p-sortIcon field="storage_place"></p-sortIcon></th>
                                        <ng-container *ngIf="hasPrice">
                                            <th pResizableColumn pSortableColumn="price" style="width:80px">السعر <p-sortIcon field="price"></p-sortIcon></th>
                                            <th pResizableColumn pSortableColumn="price_dollar" style="width:80px">السعر $ <p-sortIcon field="price_dollar"></p-sortIcon></th>
                                            <th pResizableColumn pSortableColumn="manufacturing_fee" style="width:100px">أجرة التصنيع <p-sortIcon field="manufacturing_fee"></p-sortIcon></th>
                                            <th pResizableColumn pSortableColumn="manufacturing_fee_dollar" style="width:100px">أجرة التصنيع $ <p-sortIcon field="manufacturing_fee_dollar"></p-sortIcon></th>
                                        </ng-container>
                                        <th *ngIf="hasStatus" pResizableColumn pSortableColumn="status_name" style="width:100px">حالة الجودة <p-sortIcon field="status_name"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="document" style="width:80px">الايصال <p-sortIcon field="document"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="note" style="width:100px">ملاحظات <p-sortIcon field="note"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="consigment_number" style="width:80px">الشحنة <p-sortIcon field="consigment_number"></p-sortIcon></th>
                                        <th pResizableColumn pSortableColumn="is_approved_status_name" style="width:90px">الاستلام <p-sortIcon field="is_approved_status_name"></p-sortIcon></th>
                                        <th *ngIf="hasConfirm" style="width:65px; text-align:center">تأكيد/إلغاء</th>
                                        <th *ngIf="hasStatus" style="width:65px; text-align:center">حالة الجودة تعديل</th>
                                        <th style="width:65px; text-align:center">الاستاند تعديل</th>
                                        <th style="width:65px; text-align:center">تفاصيل</th>
                                    </tr>
                                </ng-template>

                                <!-- BODY -->
                                <ng-template pTemplate="body" let-row>
                                    <tr>
                                        <td>{{ row.number }}</td>
                                        <td>{{ _sharedComponentService.formatDate(row.date) }}</td>
                                        <td>{{ row.manufacture_name }}</td>
                                        <td>{{ row.wc_fabric_order_requisition_name }}</td>
                                        <td>{{ row.circular_knitting_machine_name }}</td>
                                        <td>{{ row.fabric_code }}</td>
                                        <td>{{ row.fabric_name }}</td>
                                        <td class="num-cell">{{ numFmt(row.fabric_piece) }}</td>
                                        <td class="num-cell">{{ numFmt(row.quantity) }}</td>
                                        <td class="num-cell">{{ numFmt(row.current_quantity) }}</td>
                                        <td>{{ row.storage_place }}</td>
                                        <ng-container *ngIf="hasPrice">
                                            <td class="num-cell">{{ numFmt(row.price) }}</td>
                                            <td class="num-cell">{{ numFmt(row.price_dollar) }}</td>
                                            <td class="num-cell">{{ numFmt(row.manufacturing_fee) }}</td>
                                            <td class="num-cell">{{ numFmt(row.manufacturing_fee_dollar) }}</td>
                                        </ng-container>
                                        <td *ngIf="hasStatus" [class]="statusClass(row)">{{ row.status_name }}</td>
                                        <td>{{ row.document }}</td>
                                        <td>{{ row.note }}</td>
                                        <td>{{ row.consigment_number }}</td>
                                        <td>{{ row.is_approved_status_name }}</td>
                                        <td *ngIf="hasConfirm" class="action-cell">
                                            <a *ngIf="canApprove(row)" class="action-link" (click)="confirmCancelReceived($event, row, row.is_approved)">
                                                <i class="fa-solid fa-check update-symbol"></i>
                                            </a>
                                            <a *ngIf="canCancel(row)" class="action-link" (click)="confirmCancelReceived($event, row, row.is_approved)">
                                                <i class="fa-solid fa-xmark delete-symbol"></i>
                                            </a>
                                        </td>
                                        <td *ngIf="hasStatus" class="action-cell">
                                            <a class="action-link" (click)="selectedDataToUpdate = row; scrollToUpdateForm()">
                                                <i class="fas fa-edit update-symbol"></i>
                                            </a>
                                        </td>
                                        <td class="action-cell">
                                            <a *ngIf="row.wc_id" class="action-link" (click)="openUpdateStoragePlace(row); scrollToStoragePanel()">
                                                <i class="fas fa-edit update-symbol"></i>
                                            </a>
                                        </td>
                                        <td class="action-cell">
                                            <a class="action-link" (click)="navigateToDetails($event, row)">
                                                <i class="fas fa-angle-double-right update-symbol"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>

                                <!-- FOOTER TOTALS -->
                                <ng-template pTemplate="footer">
                                    <tr class="totals-row">
                                        <td class="totals-label">الإجمالي</td>
                                        <td></td><td></td><td></td><td></td><td></td><td></td>
                                        <td class="num-cell">{{ numFmt(grandFabricPiece) }}</td>
                                        <td class="num-cell">{{ numFmt(grandQuantity) }}</td>
                                        <td class="num-cell">{{ numFmt(grandCurrentQuantity) }}</td>
                                        <td></td>
                                        <ng-container *ngIf="hasPrice">
                                            <td></td><td></td><td></td><td></td>
                                        </ng-container>
                                        <td *ngIf="hasStatus"></td>
                                        <td></td><td></td><td></td><td></td>
                                        <td *ngIf="hasConfirm"></td>
                                        <td *ngIf="hasStatus"></td>
                                        <td></td><td></td>
                                    </tr>
                                </ng-template>

                                <!-- EMPTY -->
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="totalColspan" class="empty-msg">لا توجد بيانات</td>
                                    </tr>
                                </ng-template>

                            </p-table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="update-form">
    <app-update-manufacturing-requisition-status-wb
        *ngIf="selectedDataToUpdate"
        [selectedData]="selectedDataToUpdate"
        (updated)="handleStatusUpdated($event)">
    </app-update-manufacturing-requisition-status-wb>
</div>

<div id="update-storage-place-panel">
    <app-update-report-wc
        *ngIf="showUpdatePanel"
        [showGrid]="false"
        [showHeader]="false"
        [selectedWcIds]="selectedWcIds"
        [initialStoragePlace]="selectedStoragePlace"
        [reportParamsInput]="selectedStorageReportParams"
        (updated)="handleStorageUpdated($event)">
    </app-update-report-wc>
</div>
